[2020-09-14 14:13] syjer commented on #553
hi @adilxoxo , what do you mean by "it fail" (if there are no exception)?

Do you have an example ?

[2020-09-15 07:05] adilxoxo commented on #553
I can not tell certain example but I would like to know in which cases it might fail. Just give me clear idea or guide me to doc regarding same.

Because this is happening only for some particular reports.

This is log generated my app. I will share stack trace soon.

2020.09.14 14:33:24 diff: 0    	Thread: 3b    Session: 0     Event: ERROR           Source: AbstractPDFReport::printPDFReport[150]

[2020-09-15 07:41] sunithapremkumar opened #555 "Is there a way to avoid printing this log "com.openhtmltopdf.css-parse WARNING:: (.) Value windowtext is not a recognized identifier at line 1. Skipping declaration.""
Am seeing this log very frequently as I understand that some of the styles may not be available/parsable. But I prefer to stop bombarding the log which fills up very fast.
com.openhtmltopdf.css-parse WARNING:: (.) Value windowtext is not a recognized identifier at line 1. Skipping declaration.
com.openhtmltopdf.css-parse WARNING:: (.) Value windowtext is not a recognized identifier at line 1. Skip

[2020-09-15 10:23] adilxoxo commented on #553
Stack Trace for same,

2020.09.15 15:48:52 diff: 0    	Thread: 2f    Session: 0       Username: MSILBRIXSTSER01$     Event: ERROR           Source: BRIX           AbstractPDFReport::printPDFReport[157] > null
java.lang.NullPointerException
	at com.openhtmltopdf.render.ContentLimitContainer.updateTop(ContentLimitContainer.java:69)
	at com.openhtmltopdf.render.Box.analyzePageBreaks(Box.java:1279)
	a

[2020-09-15 10:23] adilxoxo commented on #553
_**Please find stack trace below for same issue.**_

2020.09.15 15:48:52 diff: 0    	Thread: 2f    Session: 0  Event: ERROR           Source: AbstractPDFReport::printPDFReport[157] > null
java.lang.NullPointerException
	at com.openhtmltopdf.render.ContentLimitContainer.updateTop(ContentLimitContainer.java:69)
	at com.openhtmltopdf.render.Box.analyzePageBreaks(Box.java:1279)
	at com.openhtmltopdf.n

[2020-09-15 10:53] syjer commented on #553
thank you, the NullPointerException is the one i expected, as in the code: https://github.com/danfickle/openhtmltopdf/blob/8be80a437f3788d000c9363587d593fd9082f556/openhtmltopdf-core/src/main/java/com/openhtmltopdf/render/ContentLimitContainer.java#L69 I can't really see other possibilities.

So it seems `getContentLimit` return a null. Looks like there is some kind of corner case.

Could you prov

[2020-09-15 10:57] syjer commented on #555
hi @sunithapremkumar ,

you can increase the log level for the logger:

[code]

Should do the trick.

For configuring with log4j (I hope 2), I would guess that you need to have the http://logging.apache.org/log4j/2.x/log4j-jul/index.html included, then in theory you should be able to configure it through your log4j config.

[2020-09-15 11:39] adilxoxo commented on #553
What kind of data do you need ?

We use free marker to generate html string from template then by using jsoup we convert that data into w3c doc.

Data passed to free marker is map and json.

[2020-09-15 11:49] syjer commented on #553
The html template that generates this error.  You should try to remove as
much as possible html/text/css.

On Tue, Sep 15, 2020 at 1:39 PM Adil <notifications@github.com> wrote:

[2020-09-15 13:18] adilxoxo commented on #553
Code snippet :

                PdfRendererBuilder builder = new PdfRendererBuilder();
                builder.useFastMode();
                builder.withW3cDocument(getDocument(input),null);
                builder.toStream(outputStream);
                builder.run();

         public  Document getDocument(String input) throws Exception {
		org.w3c.dom.Document w3cDoc = null;
		org.jsoup.nodes.D

[2020-09-15 14:37] syjer commented on #553
I did a try with the version 1.0.4 using the following code:

[code]

and it generate the following pdf, without any issues:

[test.pdf](https://github.com/danfickle/openhtmltopdf/files/5225649/test.pdf)

[2020-09-15 21:39] sunithapremkumar commented on #555
XRLog.setLevel(XRLog.CSS_PARSE, Level.SEVERE);  - This doesn't seem like working.. Am still seeing the log.

static{
        XRLog.setLevel(XRLog.CSS_PARSE, Level.SEVERE); //setting it to avoid css warnings in log
}
private byte[] convertHtmlToPdf(byte[] htmlFile) throws Exception {
        //clean the html if the html contains any non closing tags as the conversion library expects it to be in pro

[2020-09-15 22:52] syjer commented on #555
well, that's strange, as it work for me.

To be noted I didn't call `XRLog.setLevel` in a static {} block but just before calling `new PdfRendererBuilder()`.

(But in theory, doing as you did in a static {} block should have configured it correctly)

[2020-09-15 23:03] sunithapremkumar commented on #555
I tried that as well calling it right before PDFRendererBuilder(). No luck there as well.

[2020-09-15 23:06] syjer commented on #555
I guess the simplest way to understand why it continue to log is to put a debug point here https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/openhtmltopdf-core/src/main/java/com/openhtmltopdf/util/XRLog.java#L122  and follow the flow.

Are you using some kind of logging framework as you mentioned log4j? If yes, which version? Maybe there are some strange interactions with java.util.loggi

[2020-09-16 05:06] adilxoxo commented on #553
Can you please try adding fonts to it.

            File calibri = new File(fontpath+"calibri.ttf");
            File math = new File(fontpath+"maths.ttf");
            File jp = new File(fontpath+"arialuni.ttf");
            builder.useFont(calibri, Font.createFont(Font.TRUETYPE_FONT, calibri).getFamily());
            builder.useFont(math, Font.createFont(Font.TRUETYPE_FONT, math).getFamily());

[2020-09-16 09:27] syjer commented on #553
Using your template.html with the provided fonts work as expected, with both version 1.0.3 and 1.0.4.

Full code:

[code]

Maybe it's some data that you have removed from the `template.html` file which cause an issue?

[2020-09-16 13:31] adilxoxo commented on #553
Actually I might be able to fix it as I was ignoring warning for missing  **;** in style tag.

After adding **;** to ** box-sizing: border-box** now its working.

Let me run more scenarios. If issue comes up again will ping you.

Thank you for the help by the way @syjer

[2020-09-16 18:03] bpeterson3134 opened #556 "Stacked table borders do not line up when column count between tables does not match"
When you have multiple tables with a border stacked on top of one another, the border line does not match up if the column count in the table doesnt match.  So if table 1 has 1 row and 2 columns and table 2 has 1 row and 1 column, the borders of those tables will not line up unless you put colspan=2 on the first table.
[code]

[2020-09-16 19:05] bpeterson3134 opened #557 "Java2DRenderer cutting off image"
I have an html where content on the right of page is cut off in the rendering image.

Html:

[code]

Code Snippet:
[code]

[2020-09-18 05:47] adilxoxo commented on #553
Hi,

I am able to reproduce this issue again.

Please try attached template file.

[template.zip](https://github.com/danfickle/openhtmltopdf/files/5243636/template.zip)

This issue occurs when we add empty lines to some data... in my case empty line looks like `<p>&nbsp;</p>`.

Also I found this issue #399 which seems similar to mine as it is occurring while page break inside table.

[2020-09-18 10:20] adilxoxo commented on #553
I tried debugging code in library and at one point it returns null with input values as below,

pageNo  ==== 1
_contentLimits.size() ==== 0
_initialPageNo ==== 2
_contentLimits ==== []
target ==== -1

Also I am able to reslove this issue by replacing `border-spacing: 0; -fs-table-paginate: paginate;` by `-fs-table-paginate: paginate; border-collapse: collapse;`

**Does order of applying css matter

[2020-09-18 14:22] danfickle commented on #553
Hi @adilxoxo,

In answer to your original question, the method is designed to reserve space as required for paginated table header and footer on each page.

I'll try to have a look over the weekend.

[2020-09-20 14:02] danfickle commented on #553
@adilxoxo

Based on your debugging (thanks), I was able to condense the failing test to:

[code]
It doesn't like negative margins that push paginated tables back to the previous page. This is the offending CSS in your template:
[code]
If you change this `margin-top` to 0 it will no longer crash.

I'll see if I can fix this bug now by factoring in the margin to the initial page calculation.

[2020-09-20 15:11] #553 closed, assigned to nobody

[2020-09-21 05:09] adilxoxo commented on #553
@danfickle

Thanks for pointing out the fix. Will do above change to my template.

[2020-09-23 20:46] swillis12 commented on #551
@syjer I was away last week but got another chance to look at this. My test case that I originally attached is not reproducing the actual issue. If you look at my update, the issue is seen only when the enclosing div has auto height. You can try it out and hopefully see what I am talking about.

P.S. I tested with the latest code including your change https://github.com/danfickle/openhtmltopdf/pul

[2020-09-23 21:14] syjer commented on #551
hi @swillis12 , thank you for updating the example 👍 .

I'll have a look most likely friday.

[2020-09-25 13:00] syjer commented on #551
hi @swillis12 , with the new template, I'm able to reproduce the reported issue.

Now, for finding the main issue, it will not be easy :).

It does not seems to be a memory issue, but something in the layout algorithm that cause to  spend quite a lot of time.

[2020-09-25 13:33] syjer commented on #551
the main culprit seems to be:

[code]

removing this css rule generate the pdf in 1.4~ seconds on my pc for the file `smaller_test_auto_height.txt`.

edit: most likely the page break avoiding algorithm is sub optimal and spiral out of control when you have a lot of children elements.

[2020-09-25 13:43] syjer commented on #551
Looking at  https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/openhtmltopdf-core/src/main/java/com/openhtmltopdf/layout/BlockBoxing.java#L40 , I've got the impression the rule is dropped too late, maybe due to the peculiarity of this page (deep hierarchy).

Most likely @danfickle  has a better idea than me :), I'll still try on my side to find a solution though.

[2020-09-25 13:48] syjer commented on #551
Even more interesting, the issue appear only when the first tbody has the css rule applied. If you apply the page-break-inside:avoid only to the most inner tbody, it work without problem :).

I think I'll be able to condense the issue in a more compact html file.

[2020-09-25 15:11] swillis12 commented on #551
Good catch! Thanks for the workaround @syjer. Hopefully this helps others that may run into this too.

[2020-09-25 15:19] swillis12 commented on #551
@syjer do you think https://github.com/danfickle/openhtmltopdf/issues/506 is perhaps the same issue that we're seeing here? I noticed that test case also has "page-break-inside: avoid" rule applied to the body element (long table inside this like mine):

![image](https://user-images.githubusercontent.com/35236833/94284865-d3b61180-ff07-11ea-9137-d24b0bbdeeaa.png)

[2020-09-25 15:27] syjer commented on #551
@swillis12  it may have a role, but I think in the #506  issue, the main cause is more inside pdfbox.

[2020-09-26 16:56] mndzielski opened #558 "Page features example 500 error in sandbox"
Hi,
Example on page https://github.com/danfickle/openhtmltopdf/wiki/Page-features throws an exception:

 The element type "thead" must be terminated by the matching end-tag "</thead>".

The problem is that tag that caused this exception is placed in CSS comment.

[code]

[2020-09-26 18:43] syjer commented on #558
Hi @mndzielski , I fixed the wiki, thank you for reporting it :)

[2020-09-28 12:45] syjer commented on #551
I've cut a little bit the problematic file:

[issue-551-page-break-inside-avoid.txt](https://github.com/danfickle/openhtmltopdf/files/5292283/issue-551-page-break-inside-avoid.txt)

It's quite clear we have  O(n²) algorithm, or maybe even exponential, as it depend on how deep it need to check.

[2020-09-29 07:25] abozanona commented on #546
Hi @danfickle ,  Is there a way to ignore this exception during the PDF generation process?

[2020-09-29 09:57] abozanona opened #559 "Add the ability to send http headers with requests"
Some of the pages I'm trying to print need authentication.

It'd be great if the library add support for padding http headers so We can send login session along with the page url.

https://github.com/danfickle/openhtmltopdf/blob/4f94cc8900cdd6e956a22a96a66c5abaa5448698/openhtmltopdf-core/src/main/java/com/openhtmltopdf/resource/FSEntityResolver.java#L85

Instead of using `URL.openStream`, it'd be

[2020-09-29 10:57] adilxoxo opened #560 "How to add all font support?"
Can you please help me with this thing?

I need to do this as user is manupulating fonts from editor where multiple fonts are supported.

I am having issue with MS Gothik and Helvetika as its showing  ???  at the place of such font characters.

[2020-09-29 13:36] syjer commented on #559
hi @abozanona in theory you should be able to use another http client, see:

https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#pluggable-http-client

[2020-09-29 13:39] syjer commented on #560
hi @adilxoxo , see https://github.com/danfickle/openhtmltopdf/wiki/Fonts#programatically-adding-fonts .

If you see "???" it mean you are not loading a font that is able to display the character.

[2020-09-29 15:03] alpapad opened #561 "Consider rendering to XSL-FO on some intermediate format understood by apache fop."
Instead of rendering a pdf directly, one could transform the html to XSL-FO and feed it to apache fop which:

- Supports many more features (like x column tables)
- Supports many more export formats

The output will be much more "profesional" and possibly much faster. Apache FOP is known to be able to render 20k page documents.

Just an idea

[2020-09-30 06:44] adilxoxo commented on #560
So it means I have to figure out what fonts are being used then add each one of them programatically?

Is there any way to add all font support at once programatically?

[2020-09-30 07:28] syjer commented on #560
@adilxoxo , yes.

If you have a directory full of fonts, you can add them all, see https://github.com/danfickle/openhtmltopdf/wiki/AutoFont .

But you must have the fonts used in your document installed on your computer.

[2020-09-30 10:16] adilxoxo commented on #560
Ok got it.

Thanks! @syjer

[2020-09-30 10:42] syjer commented on #560
your welcome, by the way you will need to ensure the names of the font family when the fonts are imported match the one used in the html/css.

[2020-09-30 12:21] aneesh093 opened #562 "After converting richtext data some symbols were replaced by # character"
Hello I have used pdfbox and openxhtmltopdf to generate the pdf. while generating some symbols (for example, ȹ and ▲ ) are replaced by # character.  I have used Arial-Unicode-ms font while converting. Is there any solution to fix the above problem.

[2020-09-30 13:11] syjer commented on #562
If you see the '#' character it mean you don't have loaded the correct font for the missing characters.

I would not be surprised if for "ȹ" and "▲"  you will need to load another font (See the wiki page at https://github.com/danfickle/openhtmltopdf/wiki/Fonts#programatically-adding-fonts ).

[2020-09-30 15:09] testpasha777 opened #563 "html without .ttf font"
Hello, if html haven't .ttf font
Can i set some default font in code to solve this?

[2020-10-01 08:07] abozanona commented on #559
`builder.useHttpStreamImplementation` works perfectly on `css` and `js` links, but it's not triggered with images. How can I do the same thing for images?

[2020-10-01 10:44] aneesh093 commented on #562
Thank you I have added missing font's and it is now coming properly

[2020-10-01 10:44] #562 closed, assigned to nobody

[2020-10-01 10:49] syjer commented on #559
I'll have a look but it should work also for the images, if not, it's most likely a bug.

[2020-10-01 11:17] danfickle commented on #559
Works for me with 1.0.4:
[code]

[code]

[2020-10-01 11:19] danfickle commented on #561
This sounds like an interesting stnadalone project, but it is outside the scope of this project. Thanks for the suggestion though.

[2020-10-01 11:19] #561 closed, assigned to nobody

[2020-10-01 11:20] #558 closed, assigned to nobody

[2020-10-01 11:22] danfickle commented on #546
Hi @abozanona, did you try the workaround suggested?

[2020-10-01 11:35] danfickle commented on #563
No, currently you cannot register a default font. However, you can mutate the document before rendering:

[code]

[2020-10-01 11:58] adilxoxo commented on #560
Yeah!

I think line below from AutoFont snippet return me all font families for used ttf files.

`String fontFamily = AutoFont.toCSSEscapedFontFamily(fonts);`

So will use this string in my template in font family property. @syjer

[2020-10-01 14:15] charbonnier666 commented on #107
same problem here... it works only in testMode(true)

[2020-10-02 02:09] achuinard opened #564 "Really strange box rendering with OBJ characters?"
I've used this library for a long time but recently one of my customers informed me that their PDFs are rendering with a strange box with the letters OBJ inside:

![image](https://user-images.githubusercontent.com/469647/94880940-10af6600-042a-11eb-8922-893c600db2af.png)

I don't understand what could possibly be rendering that OBJ. The user's data in Firebase looks perfectly normal:

![image](htt

[2020-10-02 05:23] danfickle commented on #564
I think your theory is correct. It appears to be copy and pasted text.

https://en.wiktionary.org/wiki/%EF%BF%BC

Sample of usage:
https://developer.apple.com/documentation/businesschatapi/messages_sent/adding_attachment_metadata_to_a_message

It will also depend on whether the font has this character. Maybe we should filter it out with something like #549?

[2020-10-02 13:39] testpasha777 commented on #563
Have problem with mutate document and useFont java.lang.NullPointerException: null
	at com.openhtmltopdf.pdfboxout.PdfBoxFontResolver.resolveFont
but .ttf font loaded com.openhtmltopdf.load INFO:: Loading font(raleway) from PDFont supplier now.
`final String EXTRA_STYLE =
                        "* { font-family: 'raleway'; }";

                builder.addDOMMutator(document -> {

[2020-10-02 13:53] testpasha777 commented on #563
Still have problem with html without .ttf font. When mutate document and useFont java.lang.NullPointerException: null
at com.openhtmltopdf.pdfboxout.PdfBoxFontResolver.resolveFont
but .ttf font loaded com.openhtmltopdf.load INFO:: Loading font(raleway) from PDFont supplier now.

if use html with .ttf font and mutate document all works fine
com.openhtmltopdf.load INFO:: Loading font(raleway) from P

[2020-10-02 20:52] mndzielski opened #565 "Fill property in CSS class not works for SVG"
Hi,

I've discovered that fill property in CSS class is ignored for SVG. In the same example using fill with style or as property works fine.

Code:

[code]

The result:

![image](https://user-images.githubusercontent.com/38613340/94968500-52f7a680-0501-11eb-8793-15530ab00b50.png)

As you see, in last case the star is black.

[2020-10-04 02:44] NehalDamania opened #566 "baseUri in withHtmlContent not working as expected"
When we use

[code]

The "templates" folder is under "src/main/resources". And, the templates folder contains the HTML, CSS and fonts

However, when searching for fonts and css file, openhtmlpdf searches under classes folder instead of templates and gives the error as such
[code]
The baseUri is printed correctly as
[code]
I assumed it should have used the templates folder as base as below.
`D:/dev

[2020-10-04 02:48] NehalDamania commented on #566
Ok. Got it
Changing the following code made it work perfectly
Changed from
[code]
to
[code]
Now, it is searching the correct path for other resources. Might help someone if stuck.

[2020-10-05 12:32] syjer commented on #565
hi @mndzielski this is a limitation in how the "copy the css to svg backend" has been implemented. See: https://github.com/danfickle/openhtmltopdf/pull/515 .

As a workaround you can use:

[code]

[2020-10-05 13:45] mndzielski commented on #565
Hi @syjer, it works fine since version 1.0.4

Please update documentation for another users, thanks

[2020-10-05 13:45] #565 closed, assigned to nobody

[2020-10-09 14:42] jehrlich opened #567 "Using external stylesheets -> Found end of file where a comma or a { was expected at line 1"
Can you help with this? I am getting the following log output when trying to generate a PDF from html containing a link to an external style sheet. As indicated the PDF arrives without styling.

[code]
The host name for the CSS is altered above, but the link is correct and returns this:
[code]

[2020-10-13 07:40] pipti opened #573 "when html img tag src is local path ，the image is not display in pdf"
thanks

[2020-10-13 10:45] syjer commented on #573
hi @pipti , it should work, could you please provide an example?

[2020-10-14 07:52] sillen102 commented on #472
How do you get it to render on every page? I can only get it to render on the first page. The problem is that I don't know in advance how long the PDF will be since I'm using a template and populate the predefined tags with data. For that I use jsoup to insert data into a jsoup Document and then feed it to the renderer with this code:

[code]

This is how my HTML starts:

[code]

Also is there a w

[2020-10-14 08:40] sillen102 commented on #472
Where does the PDDocument come from? And how do you insert it into the builder?

I've tried this but nothing happens. Nothing gets added to the PDF.

[code]

[2020-10-14 09:57] pipti commented on #573
example:
\<img src="/Users/eric/Downloads/e097e851f4f94d9e87a64f58481acd0d.png"/\>
the path "/Users/eric/Downloads/e097e851f4f94d9e87a64f58481acd0d.png" of the image is the local path，but pdf is not display.

[2020-10-14 10:03] danfickle commented on #567
Hi @jehrlich,

The first thing to check is the text that your Java environment is actually receiving over the network which could be different to what the browser is seeing. I created this micro-app to replicate our low-level resource loading:

[code]
Note that you can plugin another stream handler if the (ancient) default Java client is not correctly returning your CSS.

I'm also not sure if our

[2020-10-14 10:11] danfickle commented on #573
Hi @pipti,

When using absolute paths, you need to use URIs rather than a raw path. For example, you could prepend your path with `file://`. If you have special characters in the path, you will have to use `new File("/Users/eric/Dow...").toURI()`.

[2020-10-14 10:29] pipti commented on #573
thanks so much

[2020-10-14 10:38] #566 closed, assigned to nobody

[2020-10-14 10:40] danfickle commented on #563
Any chance of aminimal sample?

[2020-10-14 10:41] danfickle commented on #560
Thanks all, closing now. Re-open as required.

[2020-10-14 10:41] #560 closed, assigned to nobody

[2020-10-14 10:43] danfickle commented on #549
Thanks again @StephanSchrader.

[2020-10-14 10:43] #549 closed, assigned to nobody

[2020-10-14 10:44] danfickle commented on #535
OK, closing now. Please re-open as required.

[2020-10-14 10:44] #535 closed, assigned to nobody

[2020-10-14 11:08] danfickle commented on #472
From memory, I think you can use the object as a running element:

[code]

This will pull it out of normal flow and place it on every page.

[2020-10-14 11:41] sillen102 commented on #472
Ok that seems to be working, sortof. But can I place it on top? Right now if I place something it gets on top of it. z-index is not working.

[2020-10-15 08:46] testpasha777 commented on #563
[code]

[2020-10-16 09:01] rototor commented on #472
I've made a PullRequest #577 with an object drawer which puts the PDF into the "foreground".  There is no such a thing as a z-index in PDF.  You only have a "ContentStream" which consists of all different kind of draw commands. What is drawn first is in the background, the stuff drawn last is in the foreground...  So to have the watermark in the foreground it needs the be drawn last.

In the PullR

[2020-10-16 09:13] adilxoxo commented on #553
Hey @danfickle,

Hope you are doing well.

I have another use case in which if `<p> , <ol>, <ul>` or any other html tag has negative margin and comes between the page break then same issue occurs.

[2020-10-16 12:54] sillen102 commented on #472
That sounds awesome! How about opacity? Right now I can add for example images on top of the document but I cannot set opacity, which is a hard requirement for us.

[2020-10-16 12:58] sillen102 commented on #472
Is there a way to get the HTML/CSS setup for that file? That looks amazing!

[2020-10-16 13:26] sillen102 commented on #472
That looks amazing! Is it possible to get the full HTML/CSS and maybe even Java code for that PDF file?

[2020-10-16 16:09] rototor commented on #472
@sillen102 The background and the foreground are PDFs. I made the foreground with Inkscape. You can set the opacity of the layer to get a transparency effect.

If you look at the pull request you will also see the sources of the featuredocumentation.pdf. See [featuredocumentation.ftl](https://github.com/danfickle/openhtmltopdf/tree/open-dev-v1/openhtmltopdf-examples/src/main/resources/freemarker/f

[2020-10-18 09:41] #559 closed, assigned to nobody

[2020-10-18 09:47] abozanona opened #578 "How to auto scale PDF to fit A4 page"
I'm using `Open HTML to PDF` to generate PDF reports from simple html tables.

Sometimes, tables contain a big number of columns which overflows the right margin of the page.

I don't want to use [cut-off](https://github.com/danfickle/openhtmltopdf/wiki/Cut-off-page-support) solution. Instead, I'm trying to scale/resize the page content down to fit an A4 page size.

How can I dynamically scale dow

[2020-10-18 12:03] abozanona commented on #578
I wrote a code that loops through all document nodes and checks the max-width between all of them.  And apply the scale later on the `body` tag.

    private float getMaxWidth(Document doc) throws IOException {
        PdfRendererBuilder _builder = new PdfRendererBuilder();
        _builder.withW3cDocument(doc, url);
        PdfBoxRenderer _renderer = _builder.buildPdfRenderer();
        _renderer

[2020-10-18 13:00] danfickle commented on #472
@sillen102, you could also try `position: fixed` which in theory will put an object on every page (in the page area, not the page margins) and will respect the `z-index` property in terms of painting order.

[2020-10-18 13:12] danfickle commented on #472
Scratch this for now. The whole promblem is that fixed position custom object drawers are not positioning correctly on subsequent pages. I'll have another go at debugging now.

[2020-10-18 14:21] danfickle commented on #472
It tuns out it only needed the `left` and `top` properties defined in the sample! So here is the sample watermark creator:

[code]

[code]

[issue-472-add-semi-transparent-watermark.pdf](https://github.com/danfickle/openhtmltopdf/files/5397610/issue-472-add-semi-transparent-watermark.pdf)

[2020-10-18 14:24] danfickle commented on #578
Hi @abozanona,

That might be the best way to achieve it currently, but we should be able to do this at the renderer phase, so leave this issue open.

[2020-10-18 14:27] danfickle commented on #563
As a first thought, you need to take into account that a resource is not always a file. You could use the inputstream method to add a font instead.

Also, remember to use fast mode which will be the default after the next release:
`builder.useFastMode()`.

[2020-10-18 14:29] danfickle commented on #107
This sounds like a serious problem, if anyone has a replicable sample that would be great!

[2020-10-19 05:52] ruji704 opened #579 "how to send created pdf file"
Hi.

I want to upload the pdf file I created to another store like S3,
but I need a "File" object or "InputStream" to do so.

here is my code

`
 try (
PDDocument doc = new PDDocument()) {

            Document doc2 = Jsoup.parse(new File("C://Path//example.html"),"UTF-8");
            String html = doc2.outerHtml();

            PdfRendererBuilder builder = new PdfRendererBuilder();
            b

[2020-10-19 08:51] abozanona opened #580 "SVG with `defs` is not rendered."
I have this sample SVG that openhtmltopdf can't render

[code]

But it can render this one

[code]

I see in your documentation that you support using `use` in SVG [here](https://github.com/danfickle/openhtmltopdf/wiki/Plugins:-SVG-Images#svg-sprites). How can I make it support local def of SVGs?

[2020-10-19 09:26] rototor commented on #579
If you have the memory you could use a ByteArrayOutputStream to write the PDF to and then create a ByteArrayInputStream for uploading.

I.e.
[code]

If you don't have the memory (i.e. the max memory given to the JVM is rather small), you might need to use a temporary file.

==> We can not provide an InputStream for reading directly, but instead we can only write to output streams. So you have to u

[2020-10-19 11:07] syjer commented on #580
hi @abozanona , what is rendered depend from Batik (https://xmlgraphics.apache.org/batik/).

I would guess this feature is not supported by Batik.

[2020-10-20 06:27] abozanona opened #581 "How to modify elements position after render?"
One of the issues listed in the Form controls documentation is that it's not **transform aware**.
https://github.com/danfickle/openhtmltopdf/wiki/Form-Controls#open-issues

Is it possible to modify form control elements position manually in JAVA?

I'm trying to do something like this:

    PdfBoxRenderer renderer = builder.buildPdfRenderer();
    renderer.layout();
    modifyFields(renderer.getRoo

[2020-10-20 08:13] cscsala opened #582 "base64 image in html convert to pdf. I get error :( Please helps me!"
The source:

	@Override
	public ByteArrayOutputStream topdf(byte[] htmlBytes) throws Exception {
		try (ByteArrayOutputStream os = new ByteArrayOutputStream()) {
			String html = new String(htmlBytes, Charsets.UTF_8);
			PdfRendererBuilder builder = new PdfRendererBuilder();
			builder.useDefaultPageSize(210, 297, BaseRendererBuilder.PageSizeUnits.MM);
			builder.useFastMode();

[2020-10-20 08:48] vipcxj commented on #302
I need a workaround, too.

[2020-10-20 10:05] danfickle commented on #581
The box position in our model stays the same at this level, we just output the transform before outputting the box, letting the PDF viewer determine the final box position. I think you may have more luck moving the input widget in the PDF model provided by PDFBOX. Below is a sample that does just this.

The reason I have not added code to do this in the project is that PDF annotations (such as inp

[2020-10-20 10:13] danfickle commented on #582
Hi @cscsala,

XML needs a root element so just surround your current document with `<body>` and `</body>` tags and it works (I tested, fork and knife image seen).

[2020-10-20 11:04] isabelADev commented on #457
Hello @lagar84 I have reviewed your html source and it seems that you are using duplicated <tbody>, using single tbody with the tr of category in it should do it.
Tables in html use to have only one thead, tbody and tfooter for each one. If you want the content of the 2nd tbody not to be splitted you can create a inner row table:
[code]

Hope this helps you.

[2020-10-20 11:17] #581 closed, assigned to nobody

[2020-10-20 12:46] lagar84 commented on #457
Hello @isabelADev ,
According to table spec ( https://www.w3.org/TR/html401/struct/tables.html#h-11.2.3 ):
"Table rows may be grouped into a table head, table foot, **and one or more table body sections**, using the THEAD, TFOOT and TBODY elements, respectively." _(enphasis mine)_.

But I do appreciate your efforts in trying to find a workaround. I will have a try, but probably I will run into ali

[2020-10-20 13:05] cscsala commented on #582
Thank you for your help!
It's works very well.
:)

[2020-10-20 13:05] #582 closed, assigned to nobody

[2020-10-20 14:30] vasilyevia commented on #484
Hi @syjer. Is it possible to support plain text svg data like the following?
`data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12"><path ...`

[2020-10-20 14:37] syjer commented on #484
hi @vasilyevia , it should not be hard, could you open a new issue as a feature request so I can track it? Thank you.

[2020-10-20 14:55] vasilyevia opened #583 "Add support for inline svg data source in xml format in CSS"
OpenHtmlToPdf lib supports base64 encoded inline svg data source (https://github.com/danfickle/openhtmltopdf/pull/485).

It would be great to also have support for inline xml data source in CSS like the following:
`.some-class { background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12"><path fill="#5e6c75" d="M0.722,4.823L-0.01,4

[2020-10-20 14:57] vasilyevia commented on #484
Thanks. Created a new issue. Not sure how to mark it as a feature request.
https://github.com/danfickle/openhtmltopdf/issues/583

[2020-10-21 06:20] abozanona opened #584 "How can I get the DPI?"
Is there a way I can get DPI and (Dot per pixel) for the PDF?

Is there a default value for them?

Can I manually set them?

[2020-10-22 07:04] abozanona opened #585 "CSS is case sensitive"
For the following html

[code]

This CSS changes the div color

[code]

But this CSS doesn't changesthe div color

[code]

CSS selectors should not be case sensitive.

[2020-10-23 02:52] vipcxj opened #586 "Wingdings font can not be embed in the output pdf"
This is the [test case](https://github.com/vipcxj/openhtmltopdf-svg-bug)
After debug, I found [this line](https://github.com/vipcxj/openhtmltopdf-svg-bug/blob/a00c8f76d5a02c200aeb0ca7d7b7423e940427c3/src/test/java/com/bolan/test/PdfTest.java#L53) is triggered, but the output pdf has not this font.

[2020-10-23 03:48] vipcxj commented on #586
I found I use the wrong unicode， so close it.

[2020-10-23 03:48] #586 closed, assigned to nobody

[2020-10-27 03:31] vipcxj opened #588 "unicode bug in version 1.0.5-SNAPSHOT"
https://github.com/danfickle/openhtmltopdf/blob/f14e3b8548a4959d31947fef0f95821331bf0c03/openhtmltopdf-pdfbox/src/main/java/com/openhtmltopdf/pdfboxout/PdfBoxFastOutputDevice.java#L400
This line will cause some unicde font not visible. Such as '&#61523;'. It is not printable in genernal fonts but printable when using Wingdings 2.
Here is the [test case](https://github.com/vipcxj/openhtmltopdf-svg-

[2020-10-28 12:00] danfickle commented on #588
Hi @vipcxj,

I was not able to reproduce. Specifically, I got the `#` replacement character on both versions. As well as downloading and running your test case I conducted a couple of other tests:
[code]
The result of that test, on both versions, was also the `#` character and `false`, suggesting that the font does not contain the desired character.

The method you mention runs characters through

[2020-10-28 12:04] danfickle commented on #588
EDIT: The charater you pasted is `U+F053` (`&#61523;`) which is indeed in the [private use range](https://www.fileformat.info/info/unicode/char/f053/index.htm). IF Wingdings 2 is using this character we do have a problem.

[2020-10-28 12:06] danfickle commented on #588
EDIT 2: Yes, Wingdings 2 is using this character. POO! We'll have to rethink our approach in filtering characters, probably to one that just filters a couple of problematic characters such as soft hyphens.

Thanks for finding this before release!

[2020-10-28 12:11] danfickle commented on #584
Hi @abozanona,

I think PDF is a vector format so typically only inserted images which do not have a specific size set use DPI. The default and only DPI in this library in that case is 96dpi.

NOTE: Image files are not resized before being inserted in the PDF, so you can achieve whatever DPI you need. For example, if you wanted a 300dpi image and your image is 900 pixels across by 600 pixels high,

[2020-10-28 12:12] danfickle commented on #585
Hi @abozanona,

Thanks for reporting this, but to be honest, unless someone provides a pull request, this is likely to be a low priority to fix.

[2020-10-28 12:15] danfickle commented on #537
Generally I setup the template engine separately rather than trying to load a URL. However, this is well outside the scope of this library.

[2020-10-28 12:15] #537 closed, assigned to nobody

[2020-10-28 12:17] #302 closed, assigned to nobody

[2020-10-28 14:03] mymindwentblvnk opened #589 "Create a PDF/A with own fonts and Thymeleaf."
Hi there,

I want to create a PDF/A with two custom fonts that are contained in `src/main/resources/template/invoice`.

[code]

In my HTML template there is CSS code to take advantage of the added fonts with `font-face`.

[code]

When I render the PDF, I get a document with out text. I guess this happens, due to not finding the fonts a added with `useFont()` to the renderer.

Do you see anything,

[2020-10-28 14:15] ricardomaleixo opened #590 "Handsontable - NPE"
When have i a Handsontable inside my HTML and use openHtmlToPdf, at the point when builder.run(); i have a NPE.

com.openhtmltopdf.pdfboxout.PdfBoxFontResolver.resolveFont(PdfBoxFontResolver.java:85) ~[openhtmltopdf-pdfbox-1.0.4.jar:na]
com.openhtmltopdf.layout.SharedContext.getFont(SharedContext.java:353) ~[openhtmltopdf-core-1.0.4.jar:na]

[2020-10-28 14:26] danfickle commented on #589
Hello @mymindwentblvnk,

+ When adding fonts via the builder you don't have to use `@font-face`. Just specify use via the normal `font-family` property.
+ `font-face` is an alternate way (use one or the other) of adding fonts but we don't support the `local` function in src.
+ Be aware that a resource will not always be a file, for example inside a jar. You can use `getResourceAsStream` instead.

[2020-10-28 14:28] mymindwentblvnk commented on #589
Thanks a lot @danfickle. I will check this out with our designers (my CSS is very old) and post the solution for this (with closing the issue).

[2020-10-28 14:34] danfickle commented on #590
Hi @ricardomaleixo,

I think Handsontable requires JavaScript? which we don't evaluate. However, we shouldn't be crashing here regardless so if you can show the HTML, I'll have a look.

[2020-10-28 14:52] ricardomaleixo commented on #590
hi, @danfickle, thanks for responding fast!
this HTML is built dynamically according to some business rules.
we build different pages with different configurations, which allows the user to build customized pages.
in the end, we merged all these pages.
the result is a HUGE html, and using openHTMLtoPDF solves the most serious problems, but not with the handsontable that breaks.

I also used 'https

[2020-10-28 15:27] mymindwentblvnk commented on #589
As you said, the solution was changing the CSS file

[code]

while removing the `font-face` part.

[2020-10-28 15:27] #589 closed, assigned to nobody

[2020-10-28 22:13] smcveigh941 opened #591 "Document title and language missing from resultant PDF"
WAVE accessibility evaluation tool and Sortsite report some missing attributes and tags. Many governments require pages to be accessible.

- a missing <title> tag in the head
- a missing lang attribute on the \<html> tag
- missing 'alt' attribute on the \<embed> tag

Can you advise if these can be added to the resultant PDF please? Thanks

See screenshots attached.

<img width="1423" alt="screensh

[2020-10-29 04:39] danfickle commented on #591
Hi @smcveigh941,

Accessible PDFs are supported including those attributes. See the [accessibility](https://github.com/danfickle/openhtmltopdf/wiki/PDF-Accessibility-(PDF-UA,-WCAG,-Section-508)-Support) section on the wiki for the details.

[2020-10-29 04:41] danfickle commented on #591
Note that in your first two screenshots you are testing the chrome PDF viewer rather than the PDF itself.

[2020-10-29 09:16] smcveigh941 commented on #591
@danfickle ah! Thanks very much 👍

[2020-10-29 09:16] #591 closed, assigned to nobody

[2020-10-30 10:38] #588 closed, assigned to nobody

[2020-10-30 10:38] #564 closed, assigned to nobody

[2020-10-30 11:30] danfickle commented on #590
I ran it with this throwaway code. No NPE was raised:
[code]

However, I had to alter line 287 from:
`display: inline !important;` to `min-width: 100%;` to get Chrome equivalent output.

Are you perhaps running in PDF/UA compliant mode? In that case, you must make sure a font is defined for all content (including running elements and body tag) because the PDF built-in fall-back fonts are not used

[2020-10-30 17:45] achuinard commented on #564
@danfickle you are great. Thanks for fixing this!

[2020-11-01 11:32] java-Selva commented on #522
Hi Denfickle!   Thanks for your reply. Yes we did fix the issue.

[2020-11-02 03:36] danfickle commented on #553
Hi @adilxoxo, sorry for missing this, but do you know if this is still a problem or has my fix solved it?

[2020-11-02 04:08] danfickle commented on #543
I have confirmed this is fixed with `2.0.22-SNAPSHOT`.

[2020-11-02 06:32] DanielWulfert opened #592 "SVG images are not rendered with right size"
SVG images with either given dimensions or images with no given dimensions are not rendered with the right size. Reason for that is, that _BatikSVGImage.parseLength_ does not handle double values nor handles css units.
Simple example:
[code]
The images is rendered correctly, but the space around the image is too big. The text should be exactly below the image and the image should be 3mm away from

[2020-11-02 12:19] #584 closed, assigned to nobody

[2020-11-04 13:29] danfickle commented on #592
Hi @DanielWulfert,

Firstly, thanks heaps for contributing to this project!

I have not used your PR in favor of firing up the CSS parser to deal with unit values as you can see in [commit](https://github.com/danfickle/openhtmltopdf/commit/1e7e5d6f2eab79c3324c1390f1e5cf02959bbe45). I think this will handle more units (font relative units, even percentages) than rolling another parser.

However, wi

[2020-11-04 16:08] DanielWulfert commented on #592
Hi @danfickle

looks fine to me and thanks for all the efford you put into this project. Great improvement of flying-saucer. Happy to at least contribute a very small part ;)
Keep up the great work.

Regards,
Daniel

[2020-11-04 16:08] #592 closed, assigned to nobody

[2020-11-08 20:43] ThomHurks opened #594 "Getting a nullptr exception, reproduction case included"
Hi!

First of all, it's been great using your library. Good work!

I noticed that with certain content (part of the content I include in the HTML is generated) I'm getting a crash when the PDF is generated. I managed to reduce the problem to a case that is pretty minimal I think;
https://github.com/ThomHurks/openhtmltopdfcrash

The nullpointer exception happens when OpenHtmlToPdf calls ```org.apac

[2020-11-09 20:01] swillis12 opened #595 "HTML Escaped Latin Characters Not Rendering - "&Auml;" Ä, "&eacute;" é (and probably others)"
Using the following HTML file, observe that HTML-escaped characters are not rendered in the resulting PDF:
[characters_missing.html.txt](https://github.com/danfickle/openhtmltopdf/files/5513011/characters_missing.html.txt)

Note that the escaped characters were escaped using [StringEscapeUtils.html#escapeHtml(java.lang.String)](https://commons.apache.org/proper/commons-lang/javadocs/api-2.6/org/ap

[2020-11-09 20:19] swillis12 commented on #595
I may try to work around this for now by selectively escaping only the dangerous HTML characters ('"&<>) based on [this stackoverflow comment](https://stackoverflow.com/questions/1265282/recommended-method-for-escaping-html-in-java#comment47636364_1265289).

[2020-11-10 09:02] danfickle commented on #595
You could try our doctype with entities:

https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/openhtmltopdf-examples/src/main/resources/documentation/documentation.md#character-entities

If you are feeling helpful, feel free to add the character entities section to the integration guide on the wiki.

[2020-11-11 10:43] Leostat86 opened #596 "Support for base64 css stylesheet."
Hello, this is my first time ever to submit an issue. I apologize in advance that i probably did it wrong somehow.

We noticed that using base64 encoded images works great. Which got us thinking, if we base64 encoded our stylesheets we would be able to inspect the html in for instance chrome with CSS and everything. So after we used pebble to do some replacement of texts and such we got out a html

[2020-11-12 10:22] syjer commented on #594
hi @ThomHurks , thank you for providing a minimal test case.

It seems to be the same issue as https://github.com/danfickle/openhtmltopdf/issues/527  and https://github.com/danfickle/openhtmltopdf/issues/401

[2020-11-12 14:01] syjer commented on #596
hi @Leostat86 , nice idea. I'll provide a PR :)

[2020-11-13 09:24] #596 closed, assigned to nobody

[2020-11-13 16:12] danfickle commented on #594
@ThomHurks, @syjer

Thanks for the test case! After much debugging (at least six hours!), it turns out the core problem is that content (the last table row specifically) is being repeated where it shouldn't be in the page margins (not visibly) (and the accessibility code doesn't act well on this bug). This is similar to #458.

I was able to finally reproduce in a smaller sample and I have committe

[2020-11-13 22:43] LAlves91 opened #599 "RuntimeException ocurring on InlineText.setSubstring"
Greetings!

We're using openhtmltopdf in our project. Recently, we've updated from version 1.0.0 to 1.0.4, in order to solve a bug (reported in [issue 420](https://github.com/danfickle/openhtmltopdf/issues/420)).

However, this upgrade caused another bug in our project. Now some documents break with the following stacktrace:

	at com.openhtmltopdf.render.InlineText.setSubstring(InlineText.java:133

[2020-11-14 14:14] syjer commented on #599
hi @LAlves91 , it's most likely a bug, could you provide an example that reproduce the error?

Thank you.

[2020-11-14 18:00] ThomHurks commented on #594
Thanks a lot for the help, @danfickle! That sounds like a die-hard debugging session. Great work you're doing here 👍

[2020-11-16 08:48] xu-weize opened #600 "How to use maven tool to depend this project"
Sorry,i am the first time to use your project,and  i want to ask some questions. In your context introduce,i cannot get information about how to builde this project and if i want to directly depend on this project by maven tools how to do it?

[2020-11-16 16:34] syjer commented on #600
Hi @xu-weize , see the integration guide: https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide .

As a dependency for maven, you will need at least:

[code]

See the minimal usage section for the code: https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#minimal-usage .

[2020-11-16 18:56] LAlves91 commented on #599
Hi @syjer !
I'm really sorry! I must've forgotten to add an html file. The code below is generating the reported error:

[code]

[2020-11-17 12:55] ntripathy opened #602 "Image scaling issue beyond page size"
I have the following image tag in my html content. When converted to PDF the output PDF contains a blurred image with right side truncated and spanned across two pages.

img height="100%" src="../images/myimage.jpg" alt="image"

Is there a way I can customize or override the image scaling properties (height and width) based on the image size and PDF page size?

[2020-11-17 20:35] LAlves91 commented on #599
So far in my debugging efforts, what I've seen is:

- During InlineBoxing.layoutContent@L152, a new LineBreakContext is created (with initial _end as 0);
- A few lines later (at line 175), the method trimLeadingSpace is called. As `&nbsp;` is interpreted as " ",  the _start value of LineBreakContext is updated to 1;
- As there's no more content, there are no further updates to _start or _end;
- Fi

[2020-11-19 02:58] xu-weize opened #603 "Is the project can do excel to pdf"
Hi,Whether the project can realize this function that we use excel to pdf

[2020-11-19 12:29] syjer commented on #603
hi @xu-weize no. You would need to first convert to html.

This project only accept (x)html as an input.

[2020-11-20 09:20] EmanuelCozariz opened #605 "Surrogate characters are decoded wrongly in makeJustificationArray"
Given the following string 𧙗, this will be encoded as '\uD85D\uDE57'

 The above string will be accepted by the font CODE2002.ttf

[code]
But it is incorrectly decoded.

Method makeJustificationArray of PdfBoxFastOutputDevice
uses Character.toString(c) to add to the data array

uD85D => Character.toString(c) will decode as �
uDE57 => Character.toString(c) will decode as �

[2020-11-20 09:21] EmanuelCozariz commented on #605
`Given the following string 𧙗, this will be encoded as '\uD85D\uDE57'

 The above string will be accepted by the font CODE2002.ttf

PDFont font = PDType0Font.load(doc, new File("CODE2002.ttf"));
cs.showText("\uD85D\uDE57");
But it is incorrectly decoded.

Method makeJustificationArray of PdfBoxFastOutputDevice

uses Character.toString(c) to add to the data array

uD85D => Character.toString(c) wil

[2020-11-20 11:46] danfickle commented on #599
Hi @LAlves91,

Thanks for debugging. I have made a fix similar to the one you suggested in PR. However, I was not able to reproduce with your sample HTML (or other variations I tried on 1.0.4 and the current 1.0.5 branch). Perhaps you could post your builder configuration, just so I can make a regression test for safety? Also, do you pre-process the HTML with Jsoup?

Thanks again.

[2020-11-20 11:48] danfickle commented on #602
Hi @ntripathy,

The standard fix for this is to use `max-width: 100%;` on the `img` element.

[2020-11-20 12:28] danfickle commented on #605
Hi @EmanuelCozariz,

You're right, the justification code was not surrogate pair aware. I have made the fix but have not added a test as fonts with surrogate pair coverage tend to be too large to add to the repository.

Hopefully, time permitting, you could download the repository and test with your use case before the next release, which should be soon?

Anyway, thanks again for reporting and deb

[2020-11-20 12:29] danfickle commented on #579
Closed as assumed solved. As always re-open if required.

[2020-11-20 12:29] #579 closed, assigned to nobody

[2020-11-20 12:31] danfickle commented on #573
OK, assumed solved, re-open if required.

[2020-11-20 12:31] #573 closed, assigned to nobody

[2020-11-20 14:25] LAlves91 commented on #599
Hello @danfickle !

Thank you for looking into my problem! About the sample, you're correct! I ended up posting the html without pre-processing...here's the actual input we send to openhtmltopdf:

[code]

[2020-11-23 10:22] Schwarzarbeiter opened #606 "NullPointerException when generating PDF/UA"
Hi,
we evaluated openhtmltopdf for PDF/UA creation and ran into two issues, which caused NPE.

Our test.html was converted just fine with `builder.usePdfUaAccessbility(false);`. Setting this attribute to `true`, I narrowed down two problems:

1. Forced pagebreaks result in NPE (Example line of html: `<div style="page-break-before: always">Test pagebreak before</div>`

2. Inputs like checkboxes and

[2020-11-23 17:12] syjer commented on #606
Hi @Schwarzarbeiter could you provide some minimal complete html that trigger the npe.

Thank you :)

(It may be a duplicate of #594 / #527 / #401 )

[2020-11-25 02:08] xu-weize opened #607 "Table data out of page range"
Hi,There is a question that i want to ask .Now,I shortly describe the scene:There is a table label on my html page ,and   the table  column is 9 .When column data  is short, the pdf export the page looks ok.But When the data long than before,the data out of page. The question is how to controller the page width and the data looks normal on the pdf page.

[2020-11-25 14:15] sureshkumar-ramalingam commented on #405
I got the same issue created Huge amount of +~JF****.tmp files created in the /tmp folder causing system to crash

![image](https://user-images.githubusercontent.com/67437117/100238883-b842a380-2f56-11eb-8d66-8f0630753f78.png)

when I look for the solution, I was navigated to the below link.

https://stackoverflow.com/questions/38783010/huge-amount-of-jf-tmp-files-in-var-cache-tomcat7-temp

Any he

[2020-11-25 14:18] sureshkumar-ramalingam opened #608 "Huge amount of +~JF****.tmp files created in the /tmp folder causing system to crash"
I got the same issue created Huge amount of +~JF****.tmp files created in the /tmp folder causing system to crash

![image](https://user-images.githubusercontent.com/67437117/100239203-1ec7c180-2f57-11eb-8c7a-e85736271aa0.png)

when I look for the solution, I was navigated to the below link.

https://stackoverflow.com/questions/38783010/huge-amount-of-jf-tmp-files-in-var-cache-tomcat7-temp

Any he

[2020-11-25 16:44] olayinkasf commented on #405
I found out that the issue originated from the `BatikSVGDrawer ` that we were using and every time `BatikSVGDrawer#importFontFaceRules` was called these font files were created in the tmp folder. Since we are not using any font in our SVG, I decided to override the method and left it blank.

[code]

[2020-11-25 21:31] syjer commented on #608
hi @sureshkumar-ramalingam , are you using the java2d backend?

I'm not sure the pdfbox backend is calling Font.createFont.

Could you provide the java code and html example that cause this issue?

Thank you.

[2020-11-25 21:39] syjer commented on #607
Hi @xu-weize , could you provide a sample html page?

To be noted, you can also change the page size with: https://github.com/danfickle/openhtmltopdf/wiki/Page-features  if your data don't fit your table .

[2020-11-26 06:10] abozanona commented on #607
@syjer I guess this issue is related to #578 .
Even the fix code suggested in #578 doesn't always work. If the table has very big number of columns, the `getMaxWidth` method doesn't return the maximum box width in the page.

    private float getMaxWidth(Box box) {
        float maxWidth = 0;
        maxWidth = Math.max(maxWidth, box.getWidth());
        for (int i = 0; i < box.getChildren().size(

[2020-11-26 17:57] sureshkumar-ramalingam commented on #608
Hi @syjer It is the pdfbox backend is calling Font.createFont. We are using a custom font file in the HTML.

Thanks,
Sureshkumar

[2020-11-26 19:21] syjer commented on #608
Could you provide a little bit more information so we could try to reproduce the error?

For example: the html template, the code that you are using for calling openhtmltopdf.

[2020-11-27 09:02] #599 closed, assigned to nobody

[2020-11-27 11:48] danfickle commented on #594
Hi @ThomHurks,

I have added PR #610 that fixes this problem. However, I just need to create some more tests before merging and then I can do a release finally.

[2020-11-27 11:50] danfickle commented on #605
I think this is fixed. Please feel free to re-open if required. Release soon.

[2020-11-27 11:50] #605 closed, assigned to nobody

[2020-11-27 11:50] #603 closed, assigned to nobody

[2020-11-27 11:51] EmanuelCozariz commented on #605
Do you have a release timeline? We are blocked by this issue at the moment. Thank you.

[2020-11-27 11:52] danfickle commented on #607
Hi @abozanona,

Have you taken into account the page margins? Also, the cut-off page support outlined in the wiki may be an option. I'm going to start working on built-in scaling and auto-page enlargement solutions after the next release.

[2020-11-27 11:54] danfickle commented on #605
Hopefully on the weekend (Sunday 29 Nov) if no blocking issues come up.

[2020-11-28 10:30] #594 closed, assigned to danfickle

[2020-11-28 10:30] #458 closed, assigned to nobody

[2020-11-29 12:19] syjer commented on #608
hi @sureshkumar-ramalingam , are you using some svg with text in your html / or simply enabled the svg support?

https://github.com/danfickle/openhtmltopdf/blob/9891184b099a09b103ca1d8633ca5caec5f8ffe2/openhtmltopdf-svg-support/src/main/java/com/openhtmltopdf/svgsupport/OpenHtmlGvtFont.java#L49 seems to be the only code that is calling Font.createFont in the non java2d path (https://github.com/dan

[2020-11-29 16:47] syjer commented on #608
Seems the issue is in the svg support (as reported by  @olayinkasf in comment https://github.com/danfickle/openhtmltopdf/issues/405#issuecomment-733821437).

I think I can provide a fix by handling manually a cache of temporary files with the "hash" as key, so at least for a given font, there is only one instance. On top of adding support for "File" so we can bypass this handling, I hope, in most

[2020-11-30 08:01] ThomHurks commented on #594
@danfickle Thanks a lot! Amazing job 👌

[2020-11-30 11:52] #405 closed, assigned to nobody

[2020-11-30 11:52] #608 closed, assigned to nobody

[2020-11-30 13:55] danfickle commented on #7
Release day is finally here. Thanks to all contributors, debuggers and issue reporters.

### 1.0.5 (2020-November-30)
**SECURITY:** [#609](https://github.com/danfickle/openhtmltopdf/pull/609) Updates Apache Batik SVG renderer to latest version to avoid security issue. If you are using this project to render untrusted SVGs (advised against), you should update immediately. Thanks a lot @halvorbmunda

[2020-11-30 22:52] ntripathy commented on #602
Thanks @danfickle.
I had to adopt the following custom code to fix this issue. But it would have been better if we could override this after extending PdfBoxReplacedElementFactory class.

        ImageResource imageResource = renderer.getSharedContext().getUserAgentCallback().getImageResource(imageElement.attr("src"));

        if (null != imageResource && null != imageResource.getImage()) {

[2020-12-01 13:38] mndzielski opened #614 "Bottom text in table layout page"
Hi @danfickle, @syjer

I've found some issue after upgrade from version 1.0.4 to 1.0.5.

Till now, I had such template:

![layout](https://user-images.githubusercontent.com/38613340/100746096-8d39d300-33e0-11eb-82b5-fc70a32967a8.png)

[code]

The trick was to use:

[code]

to prevent bottom text flow to next page.

But since version 1.0.5 it not works this way anymore.

Not it requires at least

[

[2020-12-01 13:39] mndzielski commented on #614
Since 1.0.5 result is:

![pobrane (26)](https://user-images.githubusercontent.com/38613340/100747934-f91d3b00-33e2-11eb-89ae-00cce03aec74.png)

![pobrane (27)](https://user-images.githubusercontent.com/38613340/100747937-fae6fe80-33e2-11eb-975d-fb0a01ee0a69.png)

[2020-12-03 11:03] syjer commented on #614
Well, tracking this regression will not be easy.

Btw by looking at the css, I wonder if the output _was_ correct before. Using vertical align on `td` seems quite strange.

[2020-12-03 21:47] bsmelo opened #615 "Table-related infinite loop triggered in versions >= 1.0.2"
Hello!

We found an infinite loop being triggered using openhtmltopdf 1.0.4. Actually, after some tests, we found our code succeeds using openhtmltopdf 1.0.1, but from 1.0.2 onwards it enters the infinite loop. The smallest input we could construct was:
[code]

Since we have a preprocessing phase using jsoup, the actual input to openhtmltopdf is:
[code]

We still couldn't figure out what exactly c

[2020-12-04 13:53] syjer commented on #615
hi @bsmelo I can confirm the issue.

Looks like a problem inside the Layout algorithm for Inline text.

(More specifically it seems to start from `InlineBoxing.layoutText()` )

[2020-12-04 14:01] syjer commented on #615
It seems to remain stuck inside this loop:

https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/openhtmltopdf-core/src/main/java/com/openhtmltopdf/layout/InlineBoxing.java#L165

[2020-12-04 14:03] syjer commented on #615
the call at https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/openhtmltopdf-core/src/main/java/com/openhtmltopdf/layout/InlineBoxing.java#L198
 always return "LINE_FINISHED".

[2020-12-04 14:09] syjer commented on #615
even simpler reproducer:

[code]

To be noted: margin:1px is important, the empty span is also important.

[2020-12-04 14:16] danfickle commented on #615
Thanks both, strongly suspect it is hitting continue on L202 in endless loop. Will further debug now.

https://github.com/danfickle/openhtmltopdf/blob/73731543655c75604837a3725883b513938cc33b/openhtmltopdf-core/src/main/java/com/openhtmltopdf/layout/InlineBoxing.java#L202

[2020-12-04 14:38] LAlves91 commented on #615
Greetings @danfickle!

If you guys find the solution to this issue, will it be released in the next planned version or do you think it would be possible to release something like a "bugfix" version?

Cheers and thank you for the great work!

[2020-12-04 15:28] danfickle commented on #615
The core problem is that float clearing is not working. If you take out the `break-word` style, one can see that the paragraph is still incorrectly on the right side of the screen.

This then feeds into a too fragile test (my fault) in the `break-word` breaker:
[code]
Here, `avail == lineWidth` is never true as the float clearance failed, leading to an endless loop.

Anyway, got to continue tomorr

[2020-12-08 08:23] xu-weize opened #616 "May I use this function?"
Hi,May I use this component's  function  that convert html to pdf with jdk 1.6

[2020-12-08 10:41] syjer commented on #616
hi @xu-weize , no. The library require jdk 1.8 or more recent.

[2020-12-10 12:56] mugovechingwaru opened #617 "Image Support in headers"
Does the current version support embedding images in headers and footers? I have been trying to embed  image in the header without success.
However if I embed an image in the body it shows nicely.

Any help ?

[2020-12-10 13:14] #617 closed, assigned to nobody

[2020-12-10 13:14] mugovechingwaru commented on #617
My bad, It was a typo on my side !

[2020-12-16 15:04] zyrius124 opened #619 "Problem with Image it doesn´t load on pdf"
Hi,

I took the code from the question "Base 64 encoded Images does not load in PDF" and it doesn't work in the sandbox. it just shows a red box. here is the code again:

    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" style="border:1px solid red; height:100px; width:100px"/>

if

[2020-12-16 20:25] syjer commented on #619
hi @zyrius124 , you can check the "Logs" button, you will get the reason of the failure:

[code]

The `URI resolver rejected loading image at (data:image/png;base64,iVBO` is the reason.

This as far as I know has been fixed.
To be noted: the sandbox may have a stricter configuration.

[2020-12-17 10:33] achimmihca opened #620 "How to render image?"
From the tests I found this [xhtml](https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/tests/diff/background/image/basic.xhtml) where img-tag is used as usual.
However, this does not seem to work. When I render my PDF, the image is always missing.

Also I wonder *how* this should work. The documentation does not say anything about images and the [example](https://github.com/danfickle/open

[2020-12-17 10:46] achimmihca commented on #620
To test this, I used the following:

[code]

This works in a browser.

[2020-12-17 11:23] achimmihca commented on #620
Found a solution:

it works when using an **absolute path** to the image and `file://` protocol (but you have to use three slashes also on Windows, so `file:///`)

`<img src="file:///D:/repos/local-projects/ExportExperiments/smiley.png"
          alt="Smiley"/>`

[2020-12-17 11:23] #620 closed, assigned to nobody

[2020-12-17 14:29] syjer commented on #620
hi @achimmihca , for the base64 image:

`data:image/png;base64, iVB`, if you remove the space after the `,` , it will work.

For the file, you can use relative path if you want, but you must pass the base uri.

[2020-12-18 08:40] mofeiwang opened #622 "Problems with meta description author"
Just use the example all-in-one PDF, the author didn't show in file properties when use adobe acrobat check
[code]
The screen shot is shown below
<img width="601" alt="Screen Shot 2020-12-18 at 16 39 26" src="https://user-images.githubusercontent.com/59437219/102593280-9d2b1400-414f-11eb-9340-343930f5b12c.png">

[2020-12-18 08:44] mofeiwang opened #623 "How to adjust the reading ordering"
Use example pdf all-in-one, the PDF reading order is not something makes sense (top to bottom, left to right) with adobe acrobat reading ordering check. Shown as below
Is there any way to adjust this reading order so as it will be logic ordering, start from 1 to 11(top to bottom)?
Thank in advance.
<img width="1349" alt="Screen Shot 2020-12-18 at 16 41 41" src="https://user-images.githubuserconten

[2020-12-18 11:59] #615 closed, assigned to nobody

[2020-12-18 12:09] danfickle commented on #623
Am I correct in saying the only problems are the list item numbers and bullets? I'll try to take a closer look tomorrow.

[2020-12-18 15:08] LAlves91 commented on #615
Hey @danfickle! Firstly, I wanna thank you a lot for working on this issue!

So, I know this one is closed already, but I wanted to use the space to make a suggestion: do you guys think it would be possible to add some kind of 'Developer Guide' to the wiki?

I'm speaking for myself, but I really wanted to help solving this issue, but the architecture is really complex (totally fitting to the **ext

[2020-12-18 23:51] pol-todo commented on #547
(@dmitry-weirdo You are my hero! Thanks so much for delving into this. I've been running into this for the last week until I saw this post.)

[2020-12-19 12:04] danfickle commented on #519
Fixed with PR provided by @syjer. Re-open as required.

[2020-12-19 12:04] #519 closed, assigned to nobody

[2020-12-19 13:00] danfickle commented on #619
Yes, at the moment, the sandbox rejects all uris, even data uris.

[2020-12-19 13:00] #619 closed, assigned to nobody

[2020-12-20 01:38] mofeiwang commented on #623
Yup, thanks for your kindly help

[2020-12-20 16:44] syjer commented on #615
Hi @LAlves91 ,

Good idea.

It's a big project, but you can identify a few logical "modules" and phases. Generally, for developing, I add a test and follow with the debugger the various points that I'm interested with.

[2020-12-21 21:25] pol-todo commented on #338
So there isn't any way to make the pdf readonly either?

(@dmitry-weirdo  Plus one to that request)

[2020-12-23 12:28] #338 closed, assigned to nobody

[2020-12-23 12:34] danfickle commented on #7
Sorry to release this late in the year but it addresses a serious bug with `break-word` and floating elements.

### 1.0.6 (2020-December-22)
**IMPORTANT:** [#615](https://github.com/danfickle/openhtmltopdf/issues/615) This is a bug fix release for an endless loop issue when using break-word with floating elements with a top/bottom margin.
+ [#624](https://github.com/danfickle/openhtmltopdf/pull/62

[2020-12-23 14:54] pol-todo commented on #338
Thanks @danfickle !

[2020-12-23 15:26] pol-todo commented on #338
@danfickle To get this fix working with the Pretty-Resume example project, what steps would I have to take? (For the https://github.com/danfickle/pretty-resume project, which I'm using for a test harness )

I've added some radio buttons in the HTML like so in the Experience section :
[code]

I have tried to update the POM file to

[code]

From version 1.0.0. but it looks like that isn't sufficient

[2020-12-25 13:31] syjer commented on #338
hi @paulito-bandito , the fix has been committed after the release of 1.0.6, you will need to wait a little bit for the next release.

[2020-12-25 13:32] pol-todo commented on #338
Thanks! Can do!

On Fri, Dec 25, 2020 at 08:31 Sylvain Jermini <notifications@github.com>
wrote:

[2020-12-25 13:37] danfickle commented on #338
You can also build it yourself:
+ Download or clone
+ Run `mvn install -DskipTests`
+ This will build all modules and put them in your local maven repository.
+ Use installed modules, version will be `1.0.7-SNAPSHOT`
+ Assumes you have Maven installed.

[2020-12-25 13:39] pol-todo commented on #338
Ahhhh, got it. I don't often use maven, this is the instruction I was
looking for. I'll give this a try later today!

On Fri, Dec 25, 2020 at 08:37 danfickle <notifications@github.com> wrote:

[2020-12-28 06:59] TGhoul opened #625 "How to add font using InputStream ?"
My application is a jar file, only use `getResourceAsStream()`  to read font files, Is there a way for this？

[2020-12-28 13:51] abozanona opened #626 "Add support for tiff images"
How can I make openhtmltopdf support rendering `tiff` images?

[code]

[2020-12-30 08:16] rototor commented on #626
If you want to include tiff images you need to use [TwelveMonkeys](https://github.com/haraldk/TwelveMonkeys) in your project. Just depend on com.twelvemonkeys.imageio:imageio-tiff, as soon as this is in your class path it should work. Note: The images will be loaded and re-encoded. At the moment neither OpenHtmlToPDF nor PDFBox support directly embedding tiff images (which would in theory be possi

[2020-12-30 22:16] slarti-b opened #629 "Documentation: Example for Pluggable HTTP Client Implements Deprecated Interface"
The example code under [Pluggable HTTP Client](https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#pluggable-http-client) in the Integration Guide implements the `HttpStreamFactory` interface.  However, when trying it out I get a deprecation warning for that interface.  The comment in the code says to use `FSStreamFactory` instead (major kudos for actually saying what to use instead,

[2021-01-02 06:40] danfickle commented on #629
Thanks for doing the detective work! Feel free to change to the correct interface on the wiki. Happy new year!

[2021-01-03 12:18] #616 closed, assigned to nobody

[2021-01-03 12:21] danfickle commented on #602
I still don't understand why you can't use `max-width` but I'm glad you solved your issue. Please reopen if required.

[2021-01-03 12:21] #602 closed, assigned to nobody

[2021-01-03 12:23] danfickle commented on #600
Thanks @syjer. @xu-weize please reopen if required.

[2021-01-03 12:23] #600 closed, assigned to nobody

[2021-01-03 12:24] danfickle commented on #567
Assumed solved, please reopen as required.

[2021-01-03 12:24] #567 closed, assigned to nobody

[2021-01-03 12:26] danfickle commented on #555
Thanks all. Please reopen if required.

[2021-01-03 12:26] #555 closed, assigned to nobody

[2021-01-03 12:27] #546 closed, assigned to nobody

[2021-01-03 12:28] #534 closed, assigned to nobody

[2021-01-03 12:29] #524 closed, assigned to nobody

[2021-01-03 12:30] #517 closed, assigned to nobody

[2021-01-03 12:35] #472 closed, assigned to nobody

[2021-01-03 12:37] danfickle commented on #467
I thought about this and I don't think there is any simple way to solve. We allow PDF stamping so even validating images as images would not be enough. Has anyone got any ideas?

[2021-01-03 12:40] #391 closed, assigned to nobody

[2021-01-03 12:43] #386 closed, assigned to nobody

[2021-01-03 12:43] #379 closed, assigned to nobody

[2021-01-03 12:45] danfickle commented on #378
I hope this issue is fixed. Anyway, please reopen with an example if not fixed. Thanks.

[2021-01-03 12:45] #378 closed, assigned to nobody

[2021-01-03 12:47] danfickle commented on #369
Please reopen if required. Closing for now.

[2021-01-03 12:47] #369 closed, assigned to nobody

[2021-01-03 12:49] danfickle commented on #353
Please reopen as required.

[2021-01-03 12:49] #353 closed, assigned to nobody

[2021-01-03 12:50] #337 closed, assigned to nobody

[2021-01-03 12:53] danfickle commented on #309
Thanks again @syjer for fix. Closing for now.

[2021-01-03 12:53] #309 closed, assigned to nobody

[2021-01-03 12:58] #256 closed, assigned to nobody

[2021-01-03 13:00] danfickle commented on #236
I believe this is now fixed. Please reopen as required.

[2021-01-03 13:00] #236 closed, assigned to nobody

[2021-01-03 13:03] danfickle commented on #219
I suspect this is now fixed. Please reopen if still having problem.

[2021-01-03 13:03] #219 closed, assigned to nobody

[2021-01-03 13:05] #208 closed, assigned to nobody

[2021-01-03 13:07] danfickle commented on #189
Transforms should now work correctly so closing for now.

[2021-01-03 13:07] #189 closed, assigned to nobody

[2021-01-03 13:08] #174 closed, assigned to nobody

[2021-01-03 13:09] #178 closed, assigned to nobody

[2021-01-03 13:12] danfickle commented on #166
@sungmore please see fonts page on wiki.

[2021-01-03 13:12] #166 closed, assigned to nobody

[2021-01-03 13:14] #146 closed, assigned to nobody

[2021-01-03 13:15] #134 closed, assigned to nobody

[2021-01-03 13:16] #129 closed, assigned to nobody

[2021-01-03 13:17] #122 closed, assigned to nobody

[2021-01-03 13:19] #111 closed, assigned to nobody

[2021-01-03 13:21] #46 closed, assigned to nobody

[2021-01-03 13:22] #29 closed, assigned to nobody

[2021-01-03 13:22] danfickle commented on #38
All working now.

[2021-01-03 13:22] #38 closed, assigned to nobody

[2021-01-03 13:40] danfickle commented on #625
Hi @TGhoul,

You can use the builder methods:
[code]

Note: It is not recommended to use input streams if using SVG or Java 2D output. See #613.

P.S. If this answers your question, feel free to close this issue.

[2021-01-03 13:56] danfickle commented on #629
OK, I've made changes in the wiki. I've also added a note about the `useProtocolsStreamImplementation` method which is similar but allows the user to specify protocols to use with the stream factory.

I'll close this issue now, but please reopen as required.

[2021-01-03 13:56] #629 closed, assigned to nobody

[2021-01-03 14:02] danfickle commented on #595
Finally added section in integration guide on character entities.

[2021-01-03 14:02] #595 closed, assigned to danfickle

[2021-01-03 14:03] danfickle commented on #71
Finally added section in integration guide on character entities.

[2021-01-03 14:03] #71 closed, assigned to danfickle

[2021-01-03 14:04] danfickle commented on #247
Finally, it's in the integration guide!

[2021-01-03 14:04] #247 closed, assigned to danfickle

[2021-01-03 14:14] danfickle commented on #495
I've finally created the [FAQ Tips](https://github.com/danfickle/openhtmltopdf/wiki/FAQ---Tips) page on the wiki with this tip to start with. Thanks everyone.

[2021-01-03 14:14] #495 closed, assigned to danfickle

[2021-01-04 02:46] TGhoul commented on #625
Thank you for your answer, I got a lot of inspiration.

[2021-01-04 02:46] #625 closed, assigned to danfickle

[2021-01-05 06:31] xu-weize opened #630 "Top img cannot show"
When use this componet  convert a html to pdf style , a local img put the pdf head cannot show,How can i do it?For example:
  <style>
        @page  {
            size: A4 portrait;
            margin: 50px;
            @top-left {
                content: url("file:///localpath.png");
                width: 80px;
                border-bottom: 1px dotted black ;
            }
        }
  I use th

[2021-01-06 09:54] xu-weize opened #631 "How to show img use relative path"
I want to show a page in the pdf header,and use relative path to do it.I am try many methods which I know,but load unnormally.
The variable of baseUrl value  pass from the java code.How can i do it?
For example:
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <style

[2021-01-07 07:34] danfickle commented on #631
I have a feeling that using a image url in the `content` property of a page margin is not yet supported although it is supported in the main flow of the document. You can use a running element. I'll provide a working sample as an answer to #630.

As for relative urls, I have put together this sample with notes that may help. If you find it helpful, I will put it on the tips page on the wiki.

[cod

[2021-01-07 07:55] danfickle commented on #630
Readers other than @xu-weize should also see #631.
As promised, a complete working example:

[code]

[2021-01-08 10:26] pipti opened #632 "about embedding the pdf by img tag"
I exciting find the img tag that can embedding the pdf,
\<img src="happy.pdf" alt="First page" page="1" \/>

but I want know how to load the whole pdf page in convert.

thanks.

[2021-01-12 09:11] LuigiVanacore opened #633 "Missing vertical writing mode"
I have to set a writing on the side of the page vertically. The css command "writing-mode: tb-rl" is not supported and so I don't know how I can fix it. Can anyone help me?

[2021-01-12 12:27] syjer commented on #633
Hi @LuigiVanacore ,

my guess would be to use the css `transform: rotate(90deg);` + some positioning

[2021-01-12 13:44] LuigiVanacore commented on #633
it doesn't work well. I have to insert the text not in the page block, but in the page padding area. I used @right-middle and if I use also the trasform rotate command the text does'nt show well.

[2021-01-12 13:51] syjer commented on #633
maybe it would be better to show what you are trying to do. Saying it does not work well does not help to understand the issue.

[2021-01-12 13:55] LuigiVanacore commented on #633
This is the html that I have to render to pdf

[code]

[2021-01-12 13:59] syjer commented on #633
have you considered an absolute positioning? It may be a little simpler to position, than floating elements.

[2021-01-12 14:09] LuigiVanacore commented on #633
https://drive.google.com/file/d/18U8d1WnU73KN118WNAeC_uLoEI8P3LH7/view?usp=sharing

the vertical text in the bottom right. If I use absolute positioning it doesn't enter in the page padding area.

[2021-01-12 14:15] syjer commented on #633
Access denied. You can upload an image in the github issue.

[2021-01-12 14:16] LuigiVanacore commented on #633
sorry, i've corrected.
[index.html.pdf](https://github.com/danfickle/openhtmltopdf/files/5802626/index.html.pdf)

[2021-01-12 14:20] syjer commented on #633
Maybe you should do an image of what you are trying to obtain, because I don't really understand your issue.

As far as I understand, you should be able to position your vertical text.

[2021-01-12 18:28] erostefano opened #634 "'The element type "img" must be terminated by the matching end-tag "</img>".'"
I am using this libary to create a valid html:

[code]

The img tag looks like this:
`<img src="image.png">`

When converting I get this error:
`'The element type "img" must be terminated by the matching end-tag "</img>".'`

According to Mozilla https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img the img element doesnt need to be closed.

Is there a workaround?

[2021-01-13 14:24] axd3 opened #635 "Issue with table border width and pagination"
Hi,

first of all, thank you for this awesome library.

I've encountered some problems with tables I just can't seem to fix myself.

1. When I create a table where borders cross there seems to be an issue with the border width. It appears to be thicker for one cell after the junction (see screenshot 1). I tried it with different pdf-readers and browsers, and although it appears to get better the m

[2021-01-13 16:34] loricelli commented on #633
I'm facing the same problem. I need to turn a date as shown in the attached image.

![vert-date](https://user-images.githubusercontent.com/18307431/104479834-2c4b1080-55c4-11eb-9cdb-50629fcba2e4.png)

[code]

As suggested,  I already installed the dependency for right-to-left or bi-directional text support. Is it possible to have such behavior?

@LuigiVanacore did you manage to solve this?

[2021-01-13 16:55] syjer commented on #633
@loricelli ,

you can copy paste the following html:

[code]

in https://sandbox.openhtmltopdf.com/ and check if it cover your use case...

[2021-01-13 17:08] loricelli commented on #633
Sure, transform works fine. The problem is the following: the date is contained into a div with the size of those 2 borders (height: 170px, width: 50px).
Without vertical writing, the date is divided into multiple lines (4 actually). I found out that I need 140px to display my date on one line.
![first](https://user-images.githubusercontent.com/18307431/104484599-bf3a7980-55c9-11eb-8b6d-56ccf759ae

[2021-01-13 18:17] syjer commented on #633
@loricelli  you need to format the html/css accordingly, taking in consideration the limitations of the library, as written in the README.

In your specific case, I would move the date in a separate div and position it accordingly in your box.

[2021-01-13 18:20] syjer commented on #634
hi @erostefano , this library accept only well formed xml. So for your case, if you have html as input, you need to use a html5 parser that return a DOM, see the documentation: https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#html5-parser-support

[2021-01-13 18:27] syjer commented on #635
the thickness issue may be related to also this issue https://github.com/danfickle/openhtmltopdf/issues/310 and maybe even https://github.com/danfickle/openhtmltopdf/issues/291 ?

[2021-01-15 07:57] #626 closed, assigned to nobody

[2021-01-15 07:57] #580 closed, assigned to nobody

[2021-01-15 13:34] vader opened #636 "Support for PDF/A-3"
A request to add support for PDF/A-3 which only differs from PDF/A-2 in one regard: it allows embedding of arbitrary file formats (such as XML, CSV, CAD, word-processing documents, spreadsheet documents, and others) into PDF/A conforming documents.
I noticed there is some A-3 support in PDFAFlavour.PDFA_3_U.

I am looking to embed an XML file in the PDF as an attachment.

I would be happy to help

[2021-01-19 10:12] danfickle commented on #636
Hi @vader,

We have PR #508 (also #528) which I think may do what you are looking for. It is not yet ready for merge, but I'll have a look at what it will take to get it merged.

[2021-01-20 10:09] draco1023 opened #639 "Table cells with percentage width and colspan were not rendered as expected"
The `width` of cells in the first column are all 15.0177%, but not rendered as expected in pdf file.

![image](https://user-images.githubusercontent.com/1821583/105159660-4b105080-5b4a-11eb-9274-f714559b7758.png)

Here is the html source code. ( 宋体 = simsun.ttf )

[code]

[2021-01-20 15:00] KBlaz1 commented on #103
I face the same problem. Im generating a PDF from HTML with an image in it.
It works fine locally but when i deploy it and try to do it i get:
WARNING [com.openhtmltopdf.exception] (default task-7) IO problem for {URL}
Did anyone find a solution for this?

[2021-01-21 16:26] syjer commented on #639
hi @draco1023 , I'll have a look this weekend by first doing a minimal test case.

[2021-01-22 14:44] tleveque commented on #272
+1

[2021-01-23 16:46] syjer commented on #639
I did some tests with this simpler example

[code]

You get this result:

![Screenshot from 2021-01-23 17-41-49](https://user-images.githubusercontent.com/498146/105608111-4e9e1480-5da2-11eb-8083-1922c61ea0cc.png)

It's quite clear that the first column is not 20%.

Removing `table-layout: fixed;` from the css we get instead:

![Screenshot from 2021-01-23 17-44-10](https://user-images.githubuserco

[2021-01-24 02:08] draco1023 commented on #639
Thank you, @syjer . But we can not just remove `table-layout: fixed;`, it turns out that result might be unpredictable when contents of cells are much more complicated, such as long text.

[2021-01-24 04:34] danfickle commented on #639
I think that a width on a `td` with `colspan` attribute applies to a single column (edit: not quite right, see below), not the combined column span. In my simple test, this is the same behavior as Chrome. Fortunately, we can use the little known `colgroup` tag to get the desired result.

Tested with correct output in the sandbox:

[code]

EDIT: This is apparently a common problem. See:
https://www

[2021-01-24 10:59] draco1023 commented on #639
Thank you, @danfickle . I will do some tests with `colgroup` tag.

[2021-01-24 22:36] bbosson commented on #238
This feature would be very relevant if you have the time :) Thank @danfickle

[2021-01-26 00:52] draco1023 commented on #639
@danfickle The `colgroup` tag did the trick! Thanks again.

[2021-01-26 00:52] #639 closed, assigned to nobody

[2021-01-26 13:08] mart2k commented on #56
+1
Any news here?

[2021-01-27 01:24] asu2 opened #641 "How to override font family for all the text in html in PdfRendererBuilder?"
Hi,

The problem we have is that the html source files are from different vendors/countries so it seems impossible to load all fonts they are using or will use. I'd like to know if there's a way to override font for all the text, regardless which font family is declared for them in CSS (but still keep font style and size if possible), so I can simply specify an unicode-friendly font for all html s

[2021-01-27 07:39] draco1023 commented on #641
1. Register `FONT_NAME` to `PdfRendererBuilder`.
[code]
2. Parse html content with Jsoup.
3. Append a `style` tag to the document head with content ` * { font-family: FONT_NAME; }`.
4. Find all elements with inline style and append `FONT_NAME` at the end of `font-family` declaration if it exists.

[2021-01-27 08:12] asu2 commented on #641
Thanks for the reply.

I found another way to do this:

1. Create a subclass from PdfBoxFontResolver then override resolveFont() method to return a 'default' font;
2. Now comes the ugly: I have to use a lot of reflections to private fields to make my subclass work in PdfBoxRenderer.

I will definitely try your suggestion as I don't like reflection-to-private at all.

[2021-01-27 12:11] syjer commented on #641
hi @asu2 , I think it would be a nice feature to have a customizable Font resolver (edit: for fallback). I'll have a look at what it would mean during the week end.

If you can post your subclass here, it would be a nice start to see what we would need to change/modify.

[2021-01-27 12:38] asu2 commented on #641
@syjer here you go ;-)

[code]

[2021-01-27 16:50] hannes123bsi opened #642 "Issue with CSS transform: scale()"
Issue in multiple page documents when trying to scale a string.

I'm trying to scale the string "R E C H N U N G ".
On the first 2 pages it is printed overlapped (scaled and non-scaled)
Only on the last page it is printed correctly

You'll see it in the sample file i uploaded.

[test.html.txt](https://github.com/danfickle/openhtmltopdf/files/5881670/test.html.txt)

Thanks in advance

Hannes Müller

[2021-01-28 03:40] draco1023 commented on #641
https://github.com/danfickle/openhtmltopdf/blob/d20825b6984d41704264f265efb05f445e559295/openhtmltopdf-pdfbox/src/main/java/com/openhtmltopdf/pdfboxout/PdfBoxFontResolver.java#L421-L430

`Serif` is not working for unicode characters. Maybe we should expose a fallback font property in `PdfRendererBuilder` and `SharedContext`, then we can use the fallback font in `PdfBoxFontResolver`.

[2021-01-28 03:51] asu2 commented on #641
yeah, an easily-accessible fallback font is exactly what I'm looking for. Currently I'm using your 'css-injection' solution which works very well. Thanks!

[2021-01-28 11:46] syjer commented on #641
looks like exposing the possibility to provide a programmatic way to let the user select the fallback font is the most elegant way.

You register all the fonts that you need as normal and in the builder you pass something like:

`builder.defineFallbackFontResolver( (x,y,z,??) -> {your code here; return font name;});`

[2021-01-29 21:11] aarowman commented on #76
+1

[2021-02-01 12:29] #508 closed, assigned to nobody

[2021-02-01 12:29] #636 closed, assigned to nobody

[2021-02-01 12:31] danfickle commented on #636
Support now merged into main branch.

[File embed documentation](https://github.com/danfickle/openhtmltopdf/pull/640#issuecomment-770819471).

[2021-02-01 12:32] danfickle commented on #508
Support now merged into main branch.

[File embed documentation](https://github.com/danfickle/openhtmltopdf/pull/640#issuecomment-770819471).

[2021-02-02 00:58] #179 closed, assigned to nobody

[2021-02-02 15:30] bdot opened #643 "How to apply hover effect"
Tried this [hover example](https://github.com/danfickle/openhtmltopdf/blob/801780ba03537d004b3423485a3ac7692a09bb95/openhtmltopdf-examples/src/main/resources/demos/hover.xhtml) in the [Sandbox](https://sandbox.openhtmltopdf.com/) but can't see the affect. Any idea, what's missing?

Thanks!

[2021-02-03 01:06] syjer commented on #643
As the example reference flying saucer, I would guess it may be a lost feature during the refactoring/changes to pdfbox.

I'll have a look what would be the cause.

[2021-02-03 11:21] bhaskermca opened #644 "WaterMark to PDF"
we have a requirement to Add watermark to PDF before approval of the PDF. Once Its approved water mark should not available.

Is there any scope we can add watermark in HTML ( from left-bottom to right-top ) position we are using headers and footers in existing PDFs ( Multiple Page PDF ) and once it approved we have to remove the watermark from the PDF.

Currently I am thinking of using PDFBox ove

[2021-02-05 12:29] johnnyaug opened #645 "Numbered lists: numbers rendered after text in RTL languages"
Related to #270 - which dealt with a similar issue with bulleted lists, and was solved.

Reproduce:
Take the following html:
[code]

And render it with the following code:
[code]

Get the following PDF:
![image](https://user-images.githubusercontent.com/3149885/107087407-10720d80-6804-11eb-9729-5df44f1f2cb7.png)

The numbers are expected to be to the right of the text, like so:
![image](https://us

[2021-02-05 13:22] johnnyaug commented on #645
I can try to solve this issue with a little guidance: I tried to do it by simply calculating the width similar to what was done in #271. However this is not enough here: the order also needs to change. e.g. `1. ` should be rendered as ` .1`

[2021-02-06 12:22] danfickle commented on #644
If you don't need opacity support, you can use a fixed position element with a rotate transform.

If you do need opacity support see this example of using a custom object drawer (since we don't support the `opacity` property):
https://github.com/danfickle/openhtmltopdf/issues/472#issuecomment-711174864

It seems I forgot to add the builder code, but it would look like:
[code]

[2021-02-06 12:26] danfickle commented on #643
Sorry, the example is obsolete.

In PDFs, the only interactive features we support are links and form controls.
In Java2D output, the product is a raster image, so no interactive content is produced.

Even in FlyingSaucer project, I think the hover support is for Swing Java components, so not relevant to the web.

[2021-02-06 14:14] danfickle commented on #642
Thanks @hannes123bsi,

It turns out that transforms (scale, rotate, etc) directly on `display: inline` and `inline-block` elements are repeating the element, once transformed and once not. Indeed for `inline` elements the `transform` property should be ignored altogether.

The "good" news is that transforms work when specified directly on `display: block` elements including descendants that may be

[2021-02-06 18:06] bdot commented on #643
Understood. Thanks for the clarification.

[2021-02-06 18:06] #643 closed, assigned to nobody

[2021-02-08 15:37] syjer opened #646 "race condition in XRLog/JDKXRLogger"
We're having what seems to be a race condition in our tests, which run in parallel in different threads :

[code]

I will put up a test case which reproduces the problem

_Originally posted by @testinfected in https://github.com/danfickle/openhtmltopdf/issues/552#issuecomment-775205782_

[2021-02-08 15:38] syjer commented on #646
Thanks to @testinfected :+1: .

Code for reproducing the error:

[code]

[2021-02-08 15:56] syjer commented on #646
seems that moving https://github.com/danfickle/openhtmltopdf/blob/801780ba03537d004b3423485a3ac7692a09bb95/openhtmltopdf-core/src/main/java/com/openhtmltopdf/util/JDKXRLogger.java#L111

after the call `initializeJDKLogManager()` is enough to fix it. And it may make sense :).

We could even wrap the `initializeJDKLogManager` in a try {} block and setting the variable in a finally block.

[2021-02-09 13:46] syjer commented on #645
hi @johnnyaug ,

the "1. " is generated in the method `makeTextMarker` of `BlockBox`:

https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/openhtmltopdf-core/src/main/java/com/openhtmltopdf/render/BlockBox.java#L372

The open point is: do we have the information that we are in a RTL context? :)

[2021-02-09 13:56] syjer commented on #645
ok, you can get the direction by calling: ` getStyle().getDirection()` inside the `makeTextMarker` method :)

[2021-02-10 05:58] raj-033 opened #648 "Checkbox behaviour is not working after converting HTML to PDF."
In the converted PDF, the selected checkbox values are not getting selected.

I've tried with the below attributes, but it doesn't help.
<input type="checkbox" **checked="checked"** />
<input type="checkbox" **checked="true"**  />

Please guide me on this..

[2021-02-10 18:15] syjer commented on #648
hi @raj-033 , you need to define the name of the input and it must be inside a form.

using the sandbox (https://sandbox.openhtmltopdf.com/), you can try to copy paste:

[code]

And in the resulting pdf, the checkbox will be checked

[2021-02-11 02:41] danfickle commented on #645
Technically, we should be doing BIDI on the list marker text.

[2021-02-11 07:36] baedorf opened #649 "Multiple background images on first page"
I need to combine/place several images on first page using following css:

[code]

According to css this should be valid and allowed.
Creating a PDF produces following message
[code]
How to solve this?

[2021-02-11 15:41] snakemastr commented on #107
Hi @danfickle

I just came across this issue and can provide a stripped example (due to copyright reasons).

I am not a Java developer but Frontend Javascript developer and was given the task to create a pdf in a VueJS environment.
I'm not sure ByteArrayOutputStream is what I need perse but the result is the same.
testMode(false) or omitted gives a blank page and testMode(true) gives "Test" in h1

[2021-02-11 15:43] MichaelF25 commented on #642
I've found a fix: Separate lines for the `div` Tag:

[code]

[2021-02-12 09:24] #646 closed, assigned to nobody

[2021-02-12 13:15] danfickle commented on #649
Multiple background images is a CSS3 feature and isn't supported. However I have started implementing it in #650.

[2021-02-12 15:55] testing138 opened #651 "QR Code from Primefaces (JSF) page?"
Hi all,

I have a question - maybe it´s completely wrong what I try to do:
I have a XHTML page which includes a barcode from Primefaces:
http://primefaces.org/showcase/ui/multimedia/barcode.xhtml?jfwid=d6c40

Should this code appearing for the current Open HTML to PDF implementation?
Currently I have an issue with the session, Primefaces is saying that I have no valid session....

If change it to:

[2021-02-14 12:04] danfickle commented on #107
Test mode just tells PDF-BOX not to compress streams. Therefore, setting it to false should be OK although it will produce a larger PDF.

Could you upload the failed PDF document so I can try to compare to one I've produced? I assume it is not zero size.

[2021-02-15 12:16] syjer commented on #651
hi @testing138 , it's hard to understand what you are trying to do.

could you show us the html input and the java code?

[2021-02-16 16:26] snakemastr opened #652 "No image when rendering to ByteArrayOutputStream"
Hello,

I am using this package to generate a pdf with an API endpoint using javax.ws.rs.
The html parsing is done by a Velocity template that is parsed with some data. The xhtml is then sent through withHtmlContent to stream ByteArrayOutputStream.
Not a single image is being displayed. Even base64 encode images.
When I write a pdf as file to my disk, the images are included so it's probably strea

[2021-02-16 17:01] snakemastr commented on #652
I feel stupid. My axios configuration was incorrect and the strange thing is, only the images were omitted so I thought it was related due to baseUrl or something in the stream.

I now have this code for reading the api response. The responseType is supposed to be next to headers and of type arraybuffer instead of blob. Which makes senses now
[code]

[2021-02-16 17:01] #652 closed, assigned to nobody

[2021-02-17 03:26] #649 closed, assigned to danfickle

[2021-02-17 08:17] chinatsu commented on #365
I'm running into similar issues. Simply including openhtmltopdf-svg-support as a dependency in my project breaks PDF/A compliance according to VeraPDF. I'm specifically testing for PDF/A-2u here, so I'm unsure if this might be an adjacent issue.

Here's a standalone example: [chinatsu/pdfexample](https://github.com/chinatsu/pdfexample)

Simply uncomment [this line](https://github.com/chinatsu/pdfe

[2021-02-18 01:05] danfickle commented on #649
Thanks @baedorf. Will be released with 1.0.7. [Background properties on wiki](https://github.com/danfickle/openhtmltopdf/wiki/Big-CSS-reference#background-properties)

[2021-02-18 12:41] danfickle commented on #642
Thanks @MichaelF25,

I have created PR #653 with a solution. However, I'm still not sure why adding spaces around the span fixes the problem, so I'll do some more investigative work before merging.

[2021-02-18 12:43] danfickle commented on #634
Closing now. Thanks @syjer. Re-open as required.

[2021-02-18 12:43] #634 closed, assigned to nobody

[2021-02-18 12:45] danfickle commented on #631
Closing now. Please re-open if required.

[2021-02-18 12:45] #631 closed, assigned to nobody

[2021-02-18 12:47] danfickle commented on #543
Fixed with release of 1.0.6 and PDFBOX 2.0.22. Thanks again @lagar84.

[2021-02-18 12:47] #543 closed, assigned to nobody

[2021-02-19 13:19] baedorf opened #654 "Problem with embedded fonts and PDF/A generation"
I try to embedded/use fonts using your AutoFont example with Noto Sans in scanned directory.
Times-Roman and Times-Bold are listed in font properties in Foxit Phantom PDF.
How can I find which elments in HTML causes the usage of this fonts?

In inline css I use
[code]

I even try to generate a PDF/A compliant document and always get
[code]

Any ideas?

Remarks:
I use stlyes shown on Page Featutes

[2021-02-19 17:04] cloooze opened #656 "Issue when running on JBoss"
Hi, my code works locally running the war with Spring Boot.
The problem is when I deploy the war on Jboss 7.x.

This is the error I'm getting:
com.openhtmltopdf.exception WARNING:: Couldn't load font (/content/pdf-manager-web.war/WEB-INF/classes/fonts/arial-unicode-ms.ttf). Please check that it is a valid truetype font.

And this is how I load the font:
`builder.useFont(new File(getClass().getClas

[2021-02-20 10:19] syjer commented on #656
hi @cloooze , are you building the war with maven?

If yes, you should ensure the fonts are not "resource-filtered" (basically, it will read and write them as text, so the binary content will be garbled).

See https://github.com/danfickle/openhtmltopdf/issues/360#issuecomment-504648289 .

[2021-02-21 09:22] pipti opened #657 "about magin-top style problem"
------------
\<body\>
\&nbsp;
\<div style="margin-top:100px">test text\<\/div\>
\<\/body\>
-------------
if havn't \&nbsp;,the "margin-top:100px" doesn't work

[2021-02-22 14:34] danfickle commented on #657
Thanks @pipti,

I think there is another issue that mentions this. It seems to be a bug with margin collapse at the first child of body.

I haven't debugged it yet because I'm trying to prioritise issues in the following order:
+ Security
+ PR provided
+ No workaround
+ All others!

[2021-02-22 14:39] danfickle commented on #654
Yes, unfortunately that is correct. I plan to fix this with fall-back fonts (#641).

[2021-02-22 14:46] cloooze commented on #656
Hi @syjer , yes I'm building with mavem but I'm not doing any filtering, the font file inside the war is not corrupted (I can open it without any problem).

Thank you for your support btw.

[2021-02-22 14:50] danfickle commented on #656
My understanding is that you can not rely on a resource being a conventionally readable file, although it often is during development. Safer to always read it with a stream, possibly to a secure temp file.

[2021-02-22 16:03] cloooze commented on #656
Could you share the code to load an InputStream instead of File? thanks

[2021-02-22 16:27] syjer commented on #656
`new File(getClass().getClassLoader().getResource("fonts/arial-unicode-ms.ttf").getFile()`

noticed only now, @danfickle is right.

[code]

Is one way, but I would advise to create a temporary file and copy the font to it at application boot, and then reference this temporary `File`.

[2021-02-22 16:37] cloooze commented on #656
It works!
Now I would like to understand what was the problem, I've seen a lot of people using File to load the font.

Would you be so nice to give me a little explenation?

Thanks a lot!!!!!

[2021-02-22 16:58] syjer commented on #656
@cloooze ,

btw, you can also do `getResourceAsStream()` so you avoid the `openStream` call.

About why, it should be something along the line of:

using `getFile()` from the getClassloader+getResource call chain will work when you are in a "exploded war" scenario like during the development because you will have the following:

`URL fileUrl = getClass().getClassLoader().getResource("fonts/arial-u

[2021-02-23 05:56] baedorf commented on #654
I think I would be an alternative or better to define a default font family and not "only" a fallback.
This default font should be used if no css defines another font family

[2021-02-23 08:25] cloooze commented on #656
Got it, your support is really appreciated. Thank you a lot.

[2021-02-23 09:16] #645 closed, assigned to nobody

[2021-02-23 16:54] abhigithub911 opened #659 "Some german characters like é does not render to pdf"
I have some names like René and Sören wherein é and ö get skipped once rendered into pdf.
It comes as Ren and Sren.

In html these strings get converted to `&eacute;` and `&auml;`

I am using thymeleaf for creating html templates. I pass this html string to OpenHtmlToPdf service to render.
The html string contains the above names as Ren`&eacute;` and S`&ouml;`ren

This is how my renderer looks:
Pd

[2021-02-23 20:15] abhigithub911 commented on #659
Can you please recommend which font-face can i use for the above special characters?
@danfickle @rototor

[2021-02-24 10:03] rototor commented on #659
For normal western Umlauts I use NotoSans from Google. NotoSans has most characters. For CJK languages I use the fonts 2593-UnDotum.ttf and BabelStoneHan.ttf

[2021-02-24 11:49] syjer commented on #659
hi @abhigithub911 , I'm wondering if your issue is not a font problem but instead the same as issue https://github.com/danfickle/openhtmltopdf/issues/595  (Entities are ignored). If I remember correctly, if a font don't support a character, you will get a # symbol.

You can see in the wiki how you can integrate: https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#character-entities .

[2021-02-24 21:00] w1rth opened #660 "Provide custom PDDocumentInformation"
You can set a custom instance of PDDocument to PdfRendererBuilder calling #usePDDocument() method.
On PDDocument you can set a custom instance of PDDocumentInformation by calling #setDocumentInformation() method.
Right now this custom instance will never taken into account while document rendering phase.

The reason can be found in PdfBoxRenderer#setDidValues() method.
Here PDDocumentInformation w

[2021-02-25 15:09] pipti commented on #657
@danfickle  Thanks a lot！

[2021-02-26 21:27] eburlaka opened #661 "Different behavior for text and elements for margin boxes"
Components with text content are placed on every page, but components where content is element are shown only on the last page. How to add  html content to the footer on every page?

[code]

<img width="641" alt="1" src="https://user-images.githubusercontent.com/5116104/109355934-a8ee3180-7888-11eb-8c9a-17a3138a2eac.png"><img width="641" alt="2" src="https://user-images.githubusercontent.com/51161

[2021-03-01 02:40] stechio opened #662 "Appending to a PDF document at arbitrary position on its last page"
My use case is about appending the rendering to an existing PDF document, with the special requirement of *starting such addition from the blank area left on its last page*, as shown in the following example (gray area stands for the trailing contents of the existing PDF document, green area for the blank space where the layout engine should start to build the rendering):

<p align="center">
  <im

[2021-03-01 12:03] danfickle commented on #656
OK, closing now.

[2021-03-01 12:03] #656 closed, assigned to nobody

[2021-03-01 12:05] danfickle commented on #661
I think this is the same regression as #614. Anyway, about to start debugging...

[2021-03-01 12:06] #642 closed, assigned to danfickle

[2021-03-01 12:17] danfickle commented on #662
Hi @stechio,

You could try a `margin-top` for the first page. Something like:
[code]

[2021-03-01 12:25] stechio commented on #662
Brilliant, thanks @danfickle!

[2021-03-01 12:52] stechio commented on #662
Considering that the HTML I feed to the layout engine comes from a _static file_, what's the most convenient way to inject the CSS snippet you suggested here above? Do I have to load and alter the HTML _before_ feeding it to the engine or can I apply the additional CSS directly to the engine?

[2021-03-01 12:56] danfickle commented on #662
You could use a dom mutator. [DOM mutator example](https://github.com/danfickle/openhtmltopdf/issues/563#issuecomment-702073877)

[2021-03-01 13:00] danfickle commented on #661
Disregard my previous comment. It turns out that if you add the running elements as first children of the `body` element it works. I'm still debugging why this is, but given the easiness of the workaround, the "fix" might end up be adding a note to the page features doc on the wiki.

[2021-03-01 13:47] danfickle commented on #661
OK, after debugging, it seems this is by-design and as per the (somewhat confusing) [paged media spec](https://www.w3.org/TR/css-gcpm-3/#element-syntax).

The idea is that the value returned can be updated with multiple elements using the one running position. Take this html for example:
[code]
When shown on the first page 'FOOTER1' is shown. On page 2, we reassign the footer running position to '

[2021-03-01 14:06] danfickle commented on #661
[Re-assigning running elements on wiki](https://github.com/danfickle/openhtmltopdf/wiki/Page-features#re-assigning-running-elements)

[2021-03-01 15:35] stechio commented on #662
Thanks to your hints, I managed to generate an [almost-correct result](https://github.com/danfickle/openhtmltopdf/files/6062489/AppendLastPage_final.pdf): the new contents are perfectly appended to the original last page, but _the exceeding contents are laid out on the next page without honoring the page margin_ (despite having explicitly set it via DOM mutator -- see code below):

<p float="left"

[2021-03-01 21:40] rajtatavarthy opened #663 "input elements - PDF UA/WCAG"
As per the wiki, _**This implementation does not yet cover form controls, such as the input element.**_

So, if we generate a PDF with checkboxes, radio buttons etc., those fields won't pass the Accessibility check right?

Example:

[code]

Any potential timeline for this fix? Thanks!

[2021-03-02 07:20] olivergg commented on #506
I've got the same issues with some very (very) large HTML files (up to 600 MB). I have several files that ends up in a OOM, so I had to test some smaller files ( ~ 22 MB)

I can confirm that many IllegalArgumentException are raised, as seen in the following screenshot (from a JFR recording):
![image](https://user-images.githubusercontent.com/8093035/109611702-eaa00600-7b2e-11eb-8dca-48ade1716d00.p

[2021-03-02 13:54] eburlaka commented on #661
@danfickle, first of all, thanks for the quick reply
and if I have a long table with dynamic data (1-3 pages) and a footer should be placed on each of the pages, is there a way to do this?

[2021-03-04 14:31] mathimus commented on #107
Dear Dan,

I'm glad to have found this thread, because I bumped into the same problem while trying to get openhtmltopdf working. Btw, thank you for developing the tool in the first place! I hope the example code I can give counts as minimal. The context is that of a Spring Controller. In the code below, enabling test mode makes all the difference.
[code]
Attached are the two resulting pdf's. I cou

[2021-03-04 17:11] stechio commented on #427
[version: 1.0.7-SNAPSHOT; commit: [02719e80f85b5bcf7c8e627018cda9fceb62a3cd](https://github.com/danfickle/openhtmltopdf/tree/02719e80f85b5bcf7c8e627018cda9fceb62a3cd)]

Having myself the need, after content rendering, to retrieve the current vertical offset (that is, the bottom position of the last graphic element appended), I got a try to your code (BTW, IMO it's a bit weird that a nice rendering

[2021-03-05 11:16] grizio commented on #107
I tested again the sample codes. I have no issue on Manjaro. However, my issues were when I used macOS. I do not have it anymore so I cannot check if it is the cause of defect.

[2021-03-05 19:02] stechio commented on #427
[version: 1.0.7-SNAPSHOT; commit: [02719e80f85b5bcf7c8e627018cda9fceb62a3cd](https://github.com/danfickle/openhtmltopdf/tree/02719e80f85b5bcf7c8e627018cda9fceb62a3cd)]

Delving more into the issue, I extended my generation code to reveal the underlying layout boxes. To my great surprise, I discovered that _master layer's coordinates are valued as if anchored to the top-left corner (absX == 0, absY

[2021-03-06 11:54] stechio commented on #427
[version: 1.0.7-SNAPSHOT; commit: [02719e80f85b5bcf7c8e627018cda9fceb62a3cd](https://github.com/danfickle/openhtmltopdf/tree/02719e80f85b5bcf7c8e627018cda9fceb62a3cd)]

Debugging the code flow, I noticed that during the layout phase _all the layout boxes seem to be defined RELATIVELY to the top-left corner of the containing layer_ (x=0,y=0); it's _only at the start of the subsequent rendering phas

[2021-03-08 11:16] danfickle commented on #661
Just add the footer element just after the opening `body` tag and it should work for all pages.

[2021-03-08 23:45] wung-stavvy opened #665 "Next release?"
Is there a timetable on the next release? I would like to use the file embedding feature. Feel free to close this to clean up clutter. Thanks :)

[2021-03-09 04:04] danfickle commented on #427
I added the PR #666 for your perusal. Hopefully this means everyone doesn't need to write their own helper!

[2021-03-09 04:05] danfickle commented on #665
Hi @wung-stavvy,

Hopefully, the overdue release will be in 24 hours!

[2021-03-10 14:37] eburlaka commented on #661
After being placed at the beginning of the body tag it works, thanks!

[2021-03-10 14:37] #661 closed, assigned to nobody

[2021-03-11 16:06] kdekooter opened #667 "Determine the file type based on the HTTP Content-Type header"
I am trying to load this (svg) file: https://app.metronome.nl/api/document-view/e1bcaee7-8616-499e-9c2e-f6f5161f6436. In a browser it displays fine. However openpdftohtml emits the following warnings:

[code]
After some experimentation I discovered that appending an `.svg` extension fixed things. Looks like the URL needs to end with `.svg` to be recognized properly...

Suggestion: determine the fi

[2021-03-11 18:48] kdekooter commented on #667
Looks like the URL needs to end with `.svg` to be recognized properly...

[2021-03-12 21:41] syjer commented on #667
hi @kdekooter  you are right, currently for svg and pdf images, it use the file extension:

https://github.com/danfickle/openhtmltopdf/blob/d20825b6984d41704264f265efb05f445e559295/openhtmltopdf-pdfbox/src/main/java/com/openhtmltopdf/pdfboxout/PdfBoxReplacedElementFactory.java#L65

I'm wondering how we could add the support for reading http headers or doing content type check (if loaded from the f

[2021-03-12 22:46] kdekooter commented on #667
One way to obtain the http headers - without loading the actual file - would be to do a HEAD request. My sample URL would return the following header: `content-type  image/svg+xml`.

Another way would be to make the `NaiveUserAgent` a little less naive: instead of loading a remote resource with `URL.openStream` it could use an HttpClient for loading. That way you can read the http headers and the

[2021-03-13 11:52] syjer commented on #667
Yes, the main issue is how to fit this new mechanism while keeping the retrocompatibility. Additionally,  http is not the only supported protocol, so we will need some kind of abstraction :).

[2021-03-13 23:03] stechio opened #668 "Absolute positioning fails in some common cases"
I noticed that absolute positioning has a few annoying defects in the way it deals with vertical lengths:
1) **anchoring to page bottom**: anchoring an element to page bottom makes it leak to next page (obviously, it should stay entirely on the target page, see test cases 2 and 3 here below)
2) **wrong resolution of relative references to element height**: element height in percentage is wrongly r

[2021-03-15 12:15] danfickle commented on #641
I've opened PR #669. Feel free to have a look and comment. Trying to do a long overdue release tomorrow though. Will merge first.

[2021-03-15 19:09] chandumax opened #670 "white-space: pre-wrap is not working as expected when converting to pdf"
i have the below code in my html page, when opened as html page, it works fine but when generates the pdf, the spaces are sort of squished.

`
					<li style="white-space: pre-wrap;">CA   GL-20055                  1   mtl: GOLD    kt: 10 TWO TON                                            </li>
					<li style="white-space: pre-wrap;">DI       ROUND        16              cl/c: I3/I            wgt:

[2021-03-16 15:35] achimmihca commented on #275
I also had issues with `page-break-inside: avoid`.
The issue was that `display: block` was not set on the HTML-element.

I am using custom elements, e.g. `<section>, <subsection>.`
These seem to have a different display-Value than a standard div-Element.

Anyway, now that I use `page-break-inside: avoid` together with `display: block`, everything works as expected.

[2021-03-19 08:32] #641 closed, assigned to danfickle

[2021-03-19 09:17] Holbrooki opened #671 "When I give multiple span tags for styling converting fails."
[code]

![kép](https://user-images.githubusercontent.com/14187952/111757760-f49a6680-889b-11eb-8dd0-f9815156eaf8.png)

[2021-03-19 09:25] danfickle commented on #671
I just tried this (using monospace instead of `Courier Prime` and it worked for both. I'm using version 1.0.6.

[code]

Are you sure you don't have an overriding `font-family` for `span` in your stylesheet?

[2021-03-19 09:56] Holbrooki commented on #671
I have a PdfRendererBuilder bean for configuring and loading fonts from a folder which can be used by frontend. This is all my html, font-family is not overridden. I'm not familiar with fonts, how do I handle getting the exact font-names in styling?

[2021-03-19 11:56] danfickle commented on #7
1.0.7 released finally!

### 1.0.7 (2021-March-19)
+ [#650](https://github.com/danfickle/openhtmltopdf/pull/650) Support for multiple background images on the one element. Thanks for requesting @baedorf.
+ [#669](https://github.com/danfickle/openhtmltopdf/pull/669) Support fallback fonts. Thanks for requesting @asu2 and assisting @draco1023.
+ [#640](https://github.com/danfickle/openhtmltopdf/pull

[2021-03-19 11:57] danfickle commented on #665
@wung-stavvy,

I owe you an apology for making a release promise that I could not keep. Anyway, 1.0.7 has just been released. Finally!

[2021-03-19 11:57] #665 closed, assigned to nobody

[2021-03-19 13:51] pol-todo commented on #7
Thanks Dan!

On Fri, Mar 19, 2021 at 07:56 danfickle ***@***.***> wrote:

[2021-03-19 15:16] stechio commented on #427
[version: 1.0.7; commit: [48a9d8c5018c67d5df86d13c0311076a27d4feb1](https://github.com/danfickle/openhtmltopdf/tree/48a9d8c5018c67d5df86d13c0311076a27d4feb1); case: AbsoluteYOffset]

Thanks to your implementation (#666), now vertical offset over static positioning works well. However, applying it to **absolutely- positioned** elements (as I was exploring their behavior #668) I got this (red horizo

[2021-03-19 15:46] stechio commented on #7
Thank you, @danfickle!

I'm sorry, but I belatedly discovered an issue about #666: it [doesn't work in case of absolutely-positioned elements](https://github.com/danfickle/openhtmltopdf/pull/666#issuecomment-802921127).

[2021-03-19 20:03] ntripathy opened #672 "max-height support for img tag"
It seems when the "img" tag has the style attribute "max-height" property then the image doesn't get rendered in the resulting PDF. It comes as empty page.
This works fine when we remove the "max-height" property from the style.

Any solution to this issue?

[2021-03-19 21:17] wung-stavvy commented on #665
woo hoo! Thank you so much :)

[2021-03-22 06:26] maexxxx opened #673 "Image Base64 (seems to be supported, but not working for me) <img src="data:image/jpg;base64,/.....>"
I downloaded the newest version. Everything works very well (impressive project). I'm trying to use a <img> (logo) in the body.

Is the following code working for you? Is there an example of a working base64 image?
(<img src="data:image/jpg;base64,/.....>

I always get the exception:
com.openhtmltopdf.load INFO:: SAX XMLReader in use (parser): com.sun.org.apache.xerces.internal.parsers.SAXParser
c

[2021-03-22 07:29] regseb opened #674 "linear-gradient without gradation do gradation"
[code]

With the previous code, in the [browsers](https://jsbin.com/sahapekace/edit?html,output) the passage from blue to red is short:
![browser](https://user-images.githubusercontent.com/1262990/111954186-fe180e80-8ae7-11eb-993f-2a8d061275da.png)

Openhtmltopdf generates a PDF with a gradation:
![openhtmltopdf](https://user-images.githubusercontent.com/1262990/111954210-05d7b300-8ae8-11eb-989c-6

[2021-03-22 08:05] Samuel3 opened #675 "CVE-2021-27807 and CVE-2021-27906"
https://seclists.org/oss-sec/2021/q1/247
https://seclists.org/oss-sec/2021/q1/248

Can you please update Apache PDF Box Version to 2.0.23?

[2021-03-22 09:43] danfickle commented on #674
You are right. I must have misconstrued this statement from MDN:

Anyway, for now, you can explicitly add the start and end color and it will work:
[code]

[2021-03-22 09:56] danfickle commented on #673
It is working for me (Orange slice image). That error is an XML parsing one. Maybe, make sure you are using strict XML - every tag closed, case sensitive, attributes double quoted, etc.

[2021-03-22 10:06] maexxxx commented on #673
Many thanks - found it. The mistake was the closing </img> was missing. I had this statement in a previous version testet but i must had make a mistake.

[2021-03-22 10:06] #673 closed, assigned to nobody

[2021-03-22 10:57] bhaskermca commented on #644
Thank you, can we make watermark text as non selectable? is there any option for that

[2021-03-22 11:00] danfickle commented on #675
`1.0.8` with PDFBOX `2.0.23`  was just released. Thanks for reporting!

[2021-03-22 11:00] #675 closed, assigned to nobody

[2021-03-22 11:03] danfickle commented on #7
Just rushed to release this:

### 1.0.8 (2021-March-22)
**SECURITY RELEASE**

+ [#675](https://github.com/danfickle/openhtmltopdf/issues/675) Update PDFBOX to 2.0.23 to avoid CVEs. Thanks for reporting @Samuel3.

NOTE: These CVEs relate to the loading of untrusted PDFs in PDFBOX and thus this project is not directly affected. However, it is not a good idea to have CVEs on your classpath.

[2021-03-22 11:06] danfickle commented on #672
This works for me. Can you provide a minimal sample?

[code]

[2021-03-22 11:10] danfickle commented on #671
You can use the name as used when you added the font with one of the `useFont` methods:
[code]

However, it is strange that it is working in some places and not others.

[2021-03-22 11:29] danfickle commented on #427
Hi @stechio,

I just did a little investigating and discovered that in my tests it is setting a `height` on the `html` element that breaks everything and not `absolute` elements. I have an `absolute` element in the official test and it seems to work. Not sure yet why adding a `height` to `html` destroys the world.

[2021-03-22 11:48] danfickle commented on #667
There is [URLConnection::getContentType](https://docs.oracle.com/javase/8/docs/api/java/net/URLConnection.html#getContentType--)

However, SVGs can be insecure. Therefore, we need to be very careful with adding a change that would allow any image url to pull in insecure content (only determined at runtime based on the returned content-type).

And what if we are dealing with a non-http url?

I agre

[2021-03-22 11:55] kdekooter commented on #667
SVGs loaded from the file system can also pull in insecure content. Isn't that the concern of the developer using this library and not the library's concern?

[2021-03-22 12:27] vader commented on #7
Thanks so much!

You are amazing.

[2021-03-22 12:30] MichaelF25 commented on #642
Just did a test with v1.0.7 and it seems that the issue is not (completely) resolved. At least the sample which was provided by @hannes123bsi still renders the duplicated text on the first 2 pages (interestingly not on the last page?).

[2021-03-22 13:50] regseb commented on #674
Thank you for the quick response. With this CSS, there is still a gradient 😞, but it no longer occupies the entire width.

[code]

![openhtmltopdf2](https://user-images.githubusercontent.com/1262990/111999693-806ef580-8b1d-11eb-8f0f-c6c9b8f90166.png)

[2021-03-22 15:44] ntripathy commented on #672
Thanks. Here is the sample html:

[code]
Here is the fix I applied to get rid of this issue. I had to put little bit of custom code (See below) to override PdfBoxReplacedElementFactory.
This is working fine now.

[code]

[2021-03-25 07:29] dweil opened #676 "SVG with text not generated"
This simple SVG is not generated by open2HTml.
[code]

Here is the sample code I use to generate pdf(it works when SVG does not contain text):
[code]

[2021-03-26 05:17] bhaskermca opened #677 "How to Make text non selectable while using ObjectDrawerFactory for Watermark"
I am able create watermark using objectdrawer but thing is , I am able select and copy water mark text, is there any way we can't select watermark text.

Is there any way to make text non selectable in PDF

[2021-03-26 15:06] stechio commented on #427
[version: 1.0.9-SNAPSHOT; commit: [ccd29f03ede2aecadac9c39fda95a5fedfb23645](https://github.com/danfickle/openhtmltopdf/tree/ccd29f03ede2aecadac9c39fda95a5fedfb23645); case: AbsoluteYOffset]

Hi @danfickle,

I re-ran [my test case](https://github.com/danfickle/openhtmltopdf/issues/427#issuecomment-802907734) suppressing the `html` element style supposedly conflicting with the current implementatio

[2021-03-30 15:10] antoniolucasnobar opened #680 "[Accessibility][ScreenReader]Problem with bold, italics, underline text in generated PDF"
EDIT: I tested the HTML fragment (in the end of post) in https://sandbox.openhtmltopdf.com/ and it shows the same behavior I described (try to select the line to see it happen).

Hello,

When we have some text with formatting (bold), the resulting PDF is kind of weird. The formatted text shows correctly in the PDF, but when I select the text (as seen in the image below), I select the start of the

[2021-03-30 15:32] antoniolucasnobar commented on #680
After looking other issues, maybe this is related to #39 , although it does not seem to be the exactly same problem.

[2021-03-30 21:37] syjer commented on #680
Hi @antoniolucasnobar

I can confirm the issue with the embedded pdf viewer from firefox: I can reproduce your issue.

Curiously, it works fine with the one from Chrome and others stand alone pdf reader. I'm wondering if it's a bug on the pdf viewer side of firefox...

[2021-03-31 08:48] mapeders opened #681 "Map html form element to pdfbox PDSignatureField ?"
Is it possible to map a html form with a special element, ex
`<input type="..." class="digitalsignature">, `
to a pdfbox digital signature field  (org.apache.pdfbox.pdmodel.interactive.form.PDSignatureField)  ?

[2021-03-31 14:38] stechio opened #682 "'font' CSS shorthand property doesn't work"
[version: 1.0.9-SNAPSHOT; commit: [ccd29f03ede2aecadac9c39fda95a5fedfb23645](https://github.com/danfickle/openhtmltopdf/tree/ccd29f03ede2aecadac9c39fda95a5fedfb23645)]

I noticed that `font` CSS shorthand property doesn't work, while the corresponding `font-*` CSS properties do:

<p align="center">
<img src="https://user-images.githubusercontent.com/10812966/113160492-d5a5b800-923d-11eb-87be-56e9b

[2021-03-31 17:31] stechio opened #683 "Reusing fonts over multiple runs against the same target PDF document"
[version: 1.0.9-SNAPSHOT; commit: [ccd29f03ede2aecadac9c39fda95a5fedfb23645](https://github.com/danfickle/openhtmltopdf/tree/ccd29f03ede2aecadac9c39fda95a5fedfb23645)]

In my use case, I need to run OHTP multiple times against the same target PDF document. To my understanding, this workflow introduces some critical points to deal with, especially regarding resource reuse.

## Familiarising with th

[2021-04-02 20:44] rototor commented on #677
The text will not be selectable if you convert it to vector shapes. But this may bloat the PDF.

To do so, in your `drawObject()` you can cast to Graphics2D and set a vector only font drawer. i.e.

[code]

But you might be better off by using a background PDF you create with some draw program with your watermark and merge it into the background. This way the same PDXForm would be reused for all pa

[2021-04-05 15:14] tiagocardoso opened #686 "Getting error No Such Method Error"
I'm getting

java.lang.NoSuchMethodError: org.apache.pdfbox.pdmodel.PDDocument.setVersion(F)V
	at com.openhtmltopdf.pdfboxout.PdfBoxRenderer.<init>(PdfBoxRenderer.java:151) ~[openhtmltopdf-pdfbox-1.0.8.jar:?]
	at com.openhtmltopdf.pdfboxout.PdfRendererBuilder.buildPdfRenderer(PdfRendererBuilder.java:69) ~[openhtmltopdf-pdfbox-1.0.8.jar:?]
	at com.openhtmltopdf.pdfboxout.PdfRendererBuilder.run(PdfR

[2021-04-06 07:43] syjer commented on #686
hi @tiagocardoso , the code is correct, maybe you got some issue in the imported pdfbox (wrong version caused by some override?, corrupted jar?) ?

[2021-04-06 07:47] syjer commented on #681
hi @mapeders , as far as I know, it's currently not possible, but it could be implemented.

On the code side, the right place to modify would be https://github.com/danfickle/openhtmltopdf/blob/989e0de3851de166b1f8d2c483113478f91c79c1/openhtmltopdf-pdfbox/src/main/java/com/openhtmltopdf/pdfboxout/PdfBoxForm.java#L803 .

[2021-04-06 19:02] rototor opened #687 "PDFBox 3.0.0 Port"
There has just been a release of PDFBox 3.0.0-RC1 a few days ago. I've ported openhtmltopdf to it in

https://github.com/rototor/openhtmltopdf/tree/open-dev-v1-pdfbox-3.0.0

It is the same as current master, just with all needed changes for PDFBox 3.0.0-RC1.

#685 contains the Charsets fixes, which can  be merged into master now, as they don't depend on PDFBox 3.0.

Some changes where needed becau

[2021-04-07 14:07] RAlfoeldi commented on #69
It would be cool...supporting flex. Usecase: centered div with background color and variable content. Easy to do with flex. Not sure how to do this otherwise.

![image](https://user-images.githubusercontent.com/7020711/113879649-05fbd200-97bb-11eb-9737-b9d2c9c89cfc.png)

Having said that: Thanx for a great tool. We've evaluated / tested almost everything we could find and yours is the only one tha

[2021-04-08 10:08] maneesh-echo commented on #583
.some-class {
 background: url('resources/image.svg');
}

this also doesn't work and it gives the following warning
`com.openhtmltopdf.load WARNING:: Unrecognized image format for: file`

It would be great to also have this support.

[2021-04-08 13:52] RAlfoeldi opened #688 "font-weight bold not respected when rendering images."
(Subject and problem changed. See below.)

For various reasons we are inlining external resources before rendering PDF / PNG.

[code]

This works great when rendering PDFs.

[code]

Using the exact same html as input, but rendering an image, the font doesn't load. (Notice no "Loading font..." log entry **and** the resulting font in the image is false.

[code]
The code is as straight forward as it

[2021-04-08 20:01] syjer commented on #688
hi @RAlfoeldi , your code seems correct.

It's likely that there are some divergences/differences in the default configuration of the Java2DRendererBuilder or in some code path. The pdf part of the project is more tested, so this kind of differences may appear.

I'll have a look tomorrow/during the week end.

[2021-04-09 07:37] RAlfoeldi commented on #688
I've attached the (generated) HTML (TXT) file that is the basis for both the PDF and Image render as well as the resulting files.

(This template isn't intended to render as PDF, thats why the PDF looks crappy. But you still can recognize that the font is pulled.)

[StickerVariable1530x765_public_demo.pdf](https://github.com/danfickle/openhtmltopdf/files/6283964/StickerVariable1530x765_public_demo

[2021-04-09 11:52] RAlfoeldi commented on #688
~~It turns out that the font is actually being used. I tried an obviously not standard font to check. What seems to be the problem is that font-weight bold is not respected. HTML and PDF render bold text, image does not. See attached files.~~ See next comment.

[2021-04-09 12:18] syjer commented on #688
Ok I see, we have some code for the bold / italic emulation in the pdf code path: https://github.com/danfickle/openhtmltopdf/pull/240 , but I'm not sure it's the case on the java2d code path.

Thank you for updating the issue.

[2021-04-09 12:25] RAlfoeldi commented on #688
The above comment couldn't display bold because... the font didn't have bold. :facepalm:

But it only gets stranger... I've now used a font that actually does have bold and they come out mixed up...

HTML displays correctly, PDF is hard to tell and Image has bold and normal swapped. See attached files...
[StickerVariable1530x765_public_demo.pdf](https://github.com/danfickle/openhtmltopdf/files/628

[2021-04-09 13:07] ocoteRHC opened #689 "Don't show pagination for the first 2 pages"
Hi, I'm using openhtmltopdf version 1.0.8 and i've been trying to hide pagination on the first 2 pages so that from page 3 and onward you can see pagination.

So I have the following in my html
[code]

I am able to hide the first page pagination
with:
[code]

but using :nth-of-type() for the second page doesn't work:
[code]

I tried splitting my document into 2 html documents and start pagination

[2021-04-10 07:58] RAlfoeldi commented on #688
This is more than slightly embarrassing. If you want to display bold typeface you should include a bold typeface :flushed:. So my immediate problem seems to be solved. The behavior of the HTML and PDF renderings that somehow magically worked out lead me not to see this.

Having said that, the effects mentioned above (confusing bold/normal) are still valid. So I'll leave the issue open., but feel f

[2021-04-14 13:54] sophon-aniketos opened #690 "@page bottom-centre CSS property doesn't repeat for each page when used with running element"
I have a SO question here. I think this maybe a problem with the library? Anyway I'm creeating an issue here:

https://stackoverflow.com/questions/67090796/page-bottom-centre-css-property-doesnt-repeat-for-each-page-when-used-with-run

[2021-04-21 04:34] krecco opened #691 "openhtmltopdf for graalvm / native build"
Was someone able to generate pdf when running in native mode. Pdf is generated, but only as strings. Html is lost.

[2021-04-26 09:56] RAlfoeldi opened #692 "Feature request: Support css shape-rendering"
Rendered SVG images are not anti aliased. ~~I would assume (hope) that the underlying~~ The Batik implementation supports shape-rendering (https://xmlgraphics.apache.org/batik/status.html) and that this would "only" require routing the css property to Batik.

My impression is that at the moment shape-rendering is actively filtered and removed:

com.openhtmltopdf.css-parse WARNING:: (null#inline_st

[2021-04-27 14:03] msuvarna-web commented on #252
I am using form option in html but nothin is displaying in pdf. which version support form

[2021-04-27 14:36] msuvarna-web commented on #263
I  am facing the same challenge if anyone can help.

[2021-04-27 17:44] rototor commented on #692
Batik is in minimal maintenance mode since 2007, it is very likely that it does not know it. Openhtmltopdf uses Batik with my pdfboxgraphics2d adapter to render the SVG as vector shapes in the PDF(if possible - if you use transparency or filters everything becomes a low quality RBG image…). So how those shapes are rendered is fully depending on your PDF viewer or printer. You should compare differ

[2021-04-27 17:53] RAlfoeldi commented on #692
Ok, maybe the original post wasn't clear about this. Rendering SVGs as PDFs works fine. Anti-aliasing does it's thing and all shapes look great. This is probably just the PDF viewer doing it's thing correctly.

The problem only comes up when rendering rasterized **images**, i.e. jpg, png, etc.

Batik seems to understand the shape-rendering property as, if it is included in the SVG file itself, the

[2021-05-03 15:26] wicksmr opened #693 "input type="date" not rendering in PDF"
Hello @danfickle ,

Thanks for taking time to review this.

I'm unable to get date-inputs to render in the PDF. I've provided a "stripped down" markup below. There's a textbox (sanity check) that renders fine, and then two date inputs with varying date format that I can't get either to render in the PDF.

`<html><body><form><div><input type="text" id="text1" name="text1" value="Text that works" />

[2021-05-04 02:52] lfintalan opened #694 "The B3 page size settings here uses B5 page size values"
Hello @danfickle ,

Thank you for taking time to review this minor issue. Good day to you.

https://github.com/danfickle/openhtmltopdf/blob/ccd29f03ede2aecadac9c39fda95a5fedfb23645/openhtmltopdf-core/src/main/java/com/openhtmltopdf/css/parser/property/PageSize.java#L53

[2021-05-05 14:20] LLazyness opened #696 "Print big table without trace"
How to prevent this table trace between pages if I use table with css property page-break-inside: avoid;
![image](https://user-images.githubusercontent.com/25137491/117155867-d47c2380-adc5-11eb-94b5-8d5bed60d51d.png)

[2021-05-07 04:15] pipti opened #697 "about the question of the style that is ”position: absolute“"
when the page content is not full，be half or less，for example &lt;div style="position:absolute ;bottom:10px"&gt;&lt;/div&gt;,the style "position:absolute ;bottom:10px" does not good work，then the div's position is relative the bottom content position.

[2021-05-09 06:08] danfickle commented on #690
I think this is a repeat of #661. If that is the case, remember to answer your own question on SO so others can benefit.

TLDR:
Put page margin elements just below the opening `<body>` tag if you want them visible on all pages. This is how the relevant CSS standard works.

[2021-05-09 06:52] danfickle commented on #693
Hi @wicksmr,

Unfortunately a date picker/field is not part of the PDF standard (as of version 1.7). There is a tool floating around that embeds a datepicker by using a lot of javascript which can be executed by some PDF readers. I believe Acrobat Pro does the same. Unfortunately the javascript is not opensource and not part of this project.

Currently the closest you can get to a date picker is p

[2021-05-09 18:07] stechio opened #698 "Font resolution: serif implicitly added even if built-in fallback already matched"
I noticed that the font resolution algorithm stubbornly adds the `serif` built-in font, _no matter if the selected font families have already found an appropriate built-in match_ (see `com.openhtmltopdf.pdfboxout.PdfBoxFontResolver.resolveFont(..)`):

[code]

_That behavior adversely affects the font metrics calculation_ (see `com.openhtmltopdf.pdfboxout.PdfBoxTextRenderer.getFSFontMetrics(..)`) _

[2021-05-10 15:00] sridharchalimeti opened #699 "Unable to load background-image url"
I am using images in two places inside my html content

`background-image: url("background.png");`

`<img src="logo.png"/>`

generating pdf file by using

`builder.withHtmlContent(html, "/templates")`

where both image files are inside templates directory in my file system. After generating pdf file logo.png is displayed but background.png is not displayed.

Got below warnings two times
`com.openh

[2021-05-10 20:25] #689 closed, assigned to nobody

[2021-05-11 16:23] faisalferoz commented on #257
For this to work properly every checkbox needs to be in a separate form tag like:
[code]

[2021-05-13 09:08] gengzi opened #700 "RENAMED: No timeouts for http, https protocols."
Hello, there's a problem with using it now. We convert HTML to PDF. When we embed HTML image links and can't access them correctly, the thread will be blocked. This error will be reported once in half a hour or twice. Even if we can't get the modified image, we will convert PDF.

I want to know, if get picture error, will the current thread block? Are there any parameters that can be controlled? P

[2021-05-14 03:49] danfickle commented on #700
Currently the default protocol handler is very simple. It just uses `new URL(...).openStream()`. The docs inform us that this is likely to result in a default `HttpUrlConnection`. I tried the following code:

[code]
Both reported zero, which the javadoc says means no timeout. So if you are calling out to a dodgy server it can cause a denial-of-service.

We probably need to set a reasonable timeout

[2021-05-14 03:54] danfickle commented on #699
Try using `builder.withHtmlContent(html, "/templates/fake-doc.htm")`. See javadoc for `withHtmlContent`:
[code]

[2021-05-14 03:56] danfickle commented on #699
Or even `file:///templates/fake-doc.htm` as its meant to be a uri.

[2021-05-14 04:22] danfickle commented on #698
Thanks @stechio for the detailed write-up. The trouble is that we don't know at this point if the matched font will contain all the characters needed. So just not adding serif would change behaviour. Consider `font-family: 'KoreanCharsOnly'` which then uses Latin characters.

To know if we are actually using serif we could run the font run divider again but this is extremely slow due to using exce

[2021-05-14 06:56] #694 closed, assigned to nobody

[2021-05-14 23:09] newk5 commented on #103
Same issue here

[2021-05-17 08:49] gengzi commented on #700
OK, thank you for your answer

[2021-05-18 14:24] #700 closed, assigned to nobody

[2021-05-20 18:58] renkh opened #704 "Paginated table adds page break within the last row and the bottom table border is cut off by the page margins"
Paginated tables that have cells with lots of content that span across multiple lines. The very last table row gets a page break within the cell and the cell bleeds over on to the next page and its border is cut off by the page margins.

![Screenshot from 2021-05-20 13-42-11](https://user-images.githubusercontent.com/22359270/119031934-41b8b880-b971-11eb-81e9-779b6532c181.png)

Is there any way to

[2021-05-20 19:02] #704 closed, assigned to nobody

[2021-05-20 19:02] renkh commented on #704
Add page-break-inside: avoid; to the tr tags to prevent page breaks across pages

[2021-05-21 15:47] fensefernando opened #705 "The entity name must immediately follow the '&' in the entity reference."
Hi!

I have problem with '&' character. do you have an idea how to solve this?

[2021-05-23 06:47] danfickle commented on #705
In xml and html the & character marks the beginning of an escape sequence known as an entity. Typically, your template engine should take care of converting user input text into escaped xml. If not, you can use an escape method[1] from the commons-text library[2].

Of course, you should know how to write xml/HTML yourself. There are five characters you need to remember to escape[3].

This INVALID

[2021-05-24 08:04] evaepel opened #706 "getting the error: Qt: Could not initialize OLE (error 80010106)"
Hi, I have the following code in c#:
[code]
parsedTemplate is the html content I want to convert to pdf.
footerUrl is a URL.
When running it, it work most of the time but sometimes it fails and returns the error:
[code]
Can anyone help me to understand why sometime it fails and how to avoid it ?

[2021-05-24 08:07] danfickle commented on #706
Hi @evaepel,

This is a Java project. I think you want the following:

https://github.com/vilppu/OpenHtmlToPdf

[2021-05-24 08:07] #706 closed, assigned to nobody

[2021-05-24 20:31] igoratsok commented on #364
Hi @danfickle

This is such an amazing lib that's helping me a lot. Thanks! The only problem for me is: I can't figure out how to make footnotes.
Do you know if from now (May 24, 2021), there's a way to implement footnotes somehow? Thank you so much!

[2021-05-26 10:18] mgm-rwagner opened #707 "Title property is missing in result PDF"
I tried the example from the wiki page (https://github.com/danfickle/openhtmltopdf/wiki/PDF-Accessibility-(PDF-UA,-WCAG,-Section-508)-Support) with the 1.0.8 release and the accessibility checker returns that the title is missing.

![grafik](https://user-images.githubusercontent.com/75724274/119643544-268bf400-be1c-11eb-8bee-080ddc6f4d8e.png)

Maybe i do something wrong but with the 1.0.3 release

[2021-05-26 13:23] syjer commented on #707
Hi @mgm-rwagner , looks like the title XMP metadata is not set according to the checker:

![detail](https://user-images.githubusercontent.com/498146/119667073-3dd7db00-be36-11eb-98e5-90d43e44d936.PNG)

I'll have a deeper look.

[2021-05-26 13:33] syjer commented on #707
hi @mgm-rwagner , I did a small test, you need to set the "PdfAConformance".

In you builder:

`builder.usePdfAConformance(PdfRendererBuilder.PdfAConformance.PDFA_3_U);`

You get:

![ok](https://user-images.githubusercontent.com/498146/119668608-9e1b4c80-be37-11eb-8d38-3ae98e02d2c0.PNG)

I'll update the documentation, as it was missing this line of code.

[2021-05-26 13:37] syjer commented on #707
About the reason: you can see in https://github.com/danfickle/openhtmltopdf/blob/open-dev-v1/openhtmltopdf-pdfbox/src/main/java/com/openhtmltopdf/pdfboxout/PdfBoxRenderer.java#L728

Without a PDF/A set, it will avoid the whole section where it set some part of the xmp metadata.

[2021-05-26 13:38] mgm-rwagner commented on #707
Thank you for the fast response. Now it works.

[2021-05-26 15:11] syjer commented on #692
@RAlfoeldi FYI, I've submitted a PR

[2021-05-27 07:10] #692 closed, assigned to nobody

[2021-05-27 07:11] RAlfoeldi commented on #692
Thank you very much. Greatly appreciated!

[2021-05-27 07:15] danfickle commented on #690
Assumed solved, please re-open if required.

[2021-05-27 07:15] #690 closed, assigned to nobody

[2021-05-27 07:21] danfickle commented on #707
One should be able to create PDF/UA docs that are not also PDF/A compliant, I think. I'll have to do some research on what metadata is required in each of the following circumstances:
+ PDF/UA
+ PDF/A
+ Both
This also shows the perils of not having automated testing as it was correct (I believe) for PDF/UA but not PDF/A before fix was applied for the latter.

BTW. Thanks @syjer for investigating.

[2021-05-27 07:22] danfickle commented on #699
OK, closing now. Please reopen if required.

[2021-05-27 07:22] #699 closed, assigned to nobody

[2021-05-27 07:27] daniil-tagan commented on #123
Hello @danfickle any updates here?

[2021-05-27 09:41] yanweitong commented on #697
I met the same problem, while using <div  style="position:absolute ;left:85;top:120>. It does not work.  The html file shows correctly on chrome. Is there any way to solve it ?

[2021-05-27 09:48] jkxyz opened #709 "org.apache.pdfbox.cos.COSDocument - Warning: You did not close a PDF Document"
When an exception occurs during the PDF rendering (for example within an FSStreamFactory which throws), I see the following warning log printed:

[code]

I'm using version 1.0.8.

I would expect the document to be closed when an error occurs.

For now I've worked around this by providing the PDDocument and closing it in a try/finally around the call to PDFRendererBuilder#run.

[2021-05-27 16:00] danfickle commented on #691
I've posted a very basic proof-of-concept here:

https://github.com/danfickle/openhtmltopdf-native

[2021-05-27 16:01] danfickle commented on #452
Native image poc:

https://github.com/danfickle/openhtmltopdf-native

Anyway, for those interested in native-image continue discussion in #691.

[2021-05-28 13:02] mrbora opened #710 "Despite that table defined with the RTL direction, the table still aligned LTR"
The tables aren't rendered in the right direction.

![צילום מסך 2021-05-28 160011](https://user-images.githubusercontent.com/8150625/119987667-f421f880-bfcd-11eb-9938-96fe25800257.png)

[2021-05-29 12:34] danfickle commented on #710
Yes, by popular request I will work on tables, especially RTL after the next release. Anyway closing this issue as a duplicate of #123.

[2021-05-29 12:34] #710 closed, assigned to nobody

[2021-05-29 12:39] danfickle commented on #697
@pipti - The div's position is relative to the end of the html element (or the parent layer), but I can see why it would be useful to position content relative to the last page bottom. Got any suggestions for syntax?

@yanweitong - You just need to use units such as `px`. Browsers are a lot more forgiving than this project.
`<div style="position:absolute ;left:85px;top:120px>`. Although, you may h

[2021-05-29 12:40] danfickle commented on #696
That is ugly! Can you provide a minimal sample that reproduces?

[2021-05-29 12:43] danfickle commented on #676
Hi @dweil,

I'm a bit late here but you could try with the correct `xmlns` attribute on the svg: `xmlns="http://www.w3.org/2000/svg"`. This is covered in the wiki.

[2021-05-29 12:46] danfickle commented on #364
I've opened pr #711. Comments welcome.

[2021-05-29 13:19] syjer commented on #709
hi @jkxyz ,

you are right, the problem is due to the fact that we have the following situation:

In `PdfRendererBuilder.java`

[code]

it will fail during the layout() call -> thus the cleanup which is done in the context of the createPDF() call is not done (the closing of the PDDocument).

Now the fix would be to do the closing in case of failure of layout(), but we need to take in to account th

[2021-05-29 13:50] stechio opened #712 "Optional content groups (OCG)"
Looking for the support of optional content groups (OCGs, also known as PDF layers), I couldn't find any reference to `org.apache.pdfbox.pdmodel.graphics.optionalcontent.PDOptionalContentGroup` in OHTP: can someone confirm OCGs (and, more generically, content marking) aren't supported?

[2021-05-31 13:10] mgm-rwagner opened #713 "Elements with position absolute are wrong in the PDF/UA"
If i check a document with a screenreader preview the elements are right detected if they are position relative:

![grafik](https://user-images.githubusercontent.com/75724274/120197617-71917700-c221-11eb-8aa9-c1efee567abb.png)

[code]

If i added the position absolute property (i really need this), the element is detected as normal 'sect'

![grafik](https://user-images.githubusercontent.com/757242

[2021-05-31 15:53] tomatkloudville opened #714 "Inconsistent font and table cell spacing/sizing/wrapping"
Hello,
I currently have dozens of templates designed in HTML and use another tool which generates PDFs which match the HTML styling without any significant differences.   I'd like to switch to using openhtmltopdf embedded in my application but the generated results seem to have issues with font and table cell wrapping, spacing, padding.  I've attached a sample HTML with the generated result from b

[2021-06-02 06:55] tfo opened #715 "Replace printStackTrace() in OpenHtmlGvtFont with proper logging"
Hello,

While analyzing a problem in our system where we use the **openhtmltopdf** re noticed that our logs are heavily polluted with stacktraces that are created through a _e.printStackTrace()_ in in the **OpenHtmlGvtFont** class. Because of our setup we are not able to redirect STDOUT and STDERR into our logging framework. Although the corresponding exception should not happen (according to the

[2021-06-03 12:25] syjer commented on #715
hi @tfo , you are right, I've submitted a PR for fixing this issue ( https://github.com/danfickle/openhtmltopdf/pull/716 ).

[2021-06-04 03:21] pipti commented on #697
I appreciate you  answer，i understand that

[2021-06-04 04:05] #715 closed, assigned to nobody

[2021-06-07 14:11] philip-neill opened #717 "Href target="_blank""
Hello,

first of all i want to thank all of you for the really great Project and it is so easy to use!

My issue is, that i want to have an href in my PDF Doc, which opens a new tab in my Browser.
Is there any way to archieve this?

What i tried so far:
target="_blank"
 onclick="window.open(''https://google.com'', ''_blank'');"

The first try just results in a normal href and the second try is a c

[2021-06-07 21:25] syjer commented on #717
hi @philip-neill , I don't think it's really possible to have a consistent behaviour with the various pdf viewer with the opening of a browser window/tab.

As you are most likely talking about the one embedded in chrome/ff/safari, they all have different behaviour: see https://community.adobe.com/t5/acrobat/open-hyperlinks-inside-embedded-pdf-in-a-new-window/td-p/9975201 .

[2021-06-09 07:49] WangYunT opened #718 "(#inline_style_1) word-break is an unrecognized"
orign code:
`table {
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
			border: 0px solid #000000;
			table-layout:fixed;
		}`
But `border-collapse: collapse;` show error log

**error log**: com.openhtmltopdf.css-parse WARNING:: (#inline_style_1) word-break is an unrecognized CSS property at line 13. Ignoring declaration.

[2021-06-09 07:49] WangYunT commented on #718
com.openhtmltopdf.css-parse WARNING:: (#inline_style_1) word-break is an unrecognized CSS property at line 13. Ignoring declaration.

[2021-06-09 07:55] philip-neill commented on #717
Hey @syjer ,
thank you for your response! That clears it up for me, i mean its not nice, but i guess there is no other option and we have to just live with it^^
So i'm closing this, because it isnt a issue with the converter! :)

[2021-06-09 07:55] #717 closed, assigned to nobody

[2021-06-09 07:58] #718 closed, assigned to nobody

[2021-06-09 08:13] WangYunT opened #719 "How to set PDF to horizontal？"
**requirement：**
At present, I have realized to read HTML and export to PDF file, but the format of PDF file is vertical version, do I need to convert it to horizontal version display? What should I do?

**code：**
[code]

[2021-06-10 12:54] slovelo commented on #719
Assuming horizontal you mean landscape format, then for my project I added this CSS to my HTML page and this correctly orientated (oriented) my PDF.

[code]

[2021-06-11 02:46] WangYunT commented on #719
Thank you very much， it worked now. And I output a horizontal PDF file。

[2021-06-11 02:47] #719 closed, assigned to nobody

[2021-06-11 02:52] WangYunT opened #720 "Multi-page PDF only has a title on the first page, and no other titles"
issue：Multi-page PDF only has a title on the first page, and no other titles

code：
[code]
This my html code,when create PDF, That files has two pages. but only thead value in first page,  the secnd page only data, no table headers.....

[2021-06-16 08:33] JJdeGroot opened #723 "[PDF/UA] Marking images as decorative"
It would be great if support was added to mark images as decorative.

Right now, alt-text is required for all images. But in some cases, images can be used purely as decoration. In this case, there is no alt-text requirement and they should be marked as decorative.

As far as I know, there is currently no way to do so. If anyone knows a way, please let me know. If there is no way, consider adding

[2021-06-16 20:50] sophon-aniketos opened #724 "com.openhtmltopdf.layout WARNING:: No content limit found"
Hi, I'm having the above warning when rendering the PDF. What could be the cause? It happens when rendering multi page pdf ~and whenever it occurs, it seems like the renderer is using an old cached version of my html template, but only for the last page. Restarting the program doesn't help.~

[2021-06-16 21:37] danfickle commented on #723
Hi @JJdeGroot,

You can use background images, which are marked as artifacts.

[code]

[2021-06-16 21:46] danfickle commented on #720
This is a known issue and after the footnote release I plan to try to work on tables again. In the meantime, you can try a custom property. The `-fs-page-break-min-height` should be set to at least the height of the table header. Something like:

[code]
This specifies that at least 2cm of the table must appear on a page or a page break will be inserted before the table, hopefully preventing an orp

[2021-06-16 21:49] danfickle commented on #724
You have encountered a bug in the table layout code. It usually occurs in complex nested table situations, but we have not been able to create a minimal reproduction. I'm going to work on tables in the near future so any info or sample you can provide that triggers this problem would be helpful.

[2021-06-16 22:15] danfickle commented on #714
Hi @tomatkloudville,

We do not support these body attributes:
`<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"`. However, you can achieve the same with CSS:

[code]

Once you have added that and compare with Chrome, it is similar, with only the earlier text wrap and not outputting alt text for broken images being different. Evo outputs everything smaller than this project or C

[2021-06-16 22:17] danfickle commented on #712
Yes, no support currently for OCGs.

[2021-06-16 22:23] sophon-aniketos commented on #724
@danfickle Thanks for the fast reply. I don't use nested table, I don't think my table is complex, other than I'm using a table in a running element (so that it repeats each page). I can share you some files. How do I contact you privately?

[2021-06-18 11:32] danfickle commented on #7
Just released:

### 1.0.9 (2021-June-18)
**SECURITY RELEASE**: This release was brought forward due to security releases of the PDFBOX and Batik dependencies.

+ [#722](https://github.com/danfickle/openhtmltopdf/pull/722) Upgrade PDFBOX (to 2.0.24) - avoids CVEs in earlier versions and PDFBoxGraphics2D. Thanks a lot @rototor.
+ [#678](https://github.com/danfickle/openhtmltopdf/pull/678) Upgrade Ba

[2021-06-21 13:38] borjapenman opened #725 "&nbsp is not rendered as space with the appropriate DTD"
I am using the DTD specified in the integration guide (`<!DOCTYPE html PUBLIC "-//OPENHTMLTOPDF//DOC XHTML Character Entities Only 1.0//EN" "">`) but the &nbsp characters are not rendered as spaces. They are removed instead (the HTML shows fine in any browser):

`<div class="note-text"><p>Hello <strong>bold&nbsp;</strong><em>italics</em>&nbsp;<span style="text-decoration:underline">underline</span

[2021-06-21 16:22] dweil commented on #676
Hi @danfickle , thanks for your answer. Your advice works and it was actually writen in the wiki.
The issue is I'm using foreign object which are "SVG2" and it seems that openhtmltpdf (or the library Batik you are using)  is not compatible with SVG2. Is there any hope?

Below is my call stack :
`Exception in thread "main" org.w3c.dom.DOMException: The current document is unable to create an elemen

[2021-06-23 07:27] dg8fv2010 opened #726 "run function in PdfRendererBuilder takes long time"
I am now using version 1.0.8, and html file is only 8kb. While I'm using openhtmlto pdf, I find run function in PdfRendererBuilder takes about 132321ms to finish, why it takes so much time?

My code for pdf generation is as follow:

            try (ByteArrayOutputStream os = new ByteArrayOutputStream()) {
                PdfRendererBuilder builder = new PdfRendererBuilder();
                build

[2021-06-23 07:42] #726 closed, assigned to nobody

[2021-06-23 14:51] benjaminpochat opened #728 "named page introduce an empty page at the end of the document"
I use a named page to set a watermark on some pages.
But the use of a named page adds an empty page at the end of the PDF.

For instance with that html content :
[code]

And that css :
[code]

I produce the PDF attached, with an unexepcted empty page at the end :

[fiche_presentation_evolution_cas_de_base.pdf](https://github.com/danfickle/openhtmltopdf/files/6702845/fiche_presentation_evolution_ca

[2021-06-24 09:13] JJdeGroot commented on #723
Hi @danfickle, thanks for the heads up, will start using background-images for images with no alt-text.

[2021-06-24 09:13] #723 closed, assigned to nobody

[2021-06-24 09:32] electrofLy opened #729 "vulnerable dependency xmlgraphics-commons"
The package xmlgraphics-commons-2.4.jar is vulnerable. See https://nvd.nist.gov/vuln/detail/CVE-2020-11988

Solution: update to xmlgraphics-commons-2.6.jar

[2021-06-24 13:05] mgm-rwagner opened #730 "Tag the elements in the header and footer like normal elements (PDF/UA)"
Is there any possibility to tag the elements in the header and footer like the normal elements?

The problem is that I have important information in the header and footer, thats the reason why I need to tag them too.

If there is no possibility with openhtmltopdf out of the box, maybe I can change you code in a fork to get it done?
Is that an easy change in the code or do I need to rewrite some pa

[2021-06-25 06:03] allabhanuprakashreddy opened #731 "OpenHTMLToPDF Text has no space in generated PDF"
I am using OpenHTMLToPDF library to generate PDF from HTML.
Few words in my PDF generated doesn't have space in between letters. For example **And** **Certificate**.

![and](https://user-images.githubusercontent.com/55139196/123376930-ed74aa00-d5a8-11eb-81e5-233949c9bc47.png)

![cert](https://user-images.githubusercontent.com/55139196/123376762-a4bcf100-d5a8-11eb-91a4-4d7879455ef5.JPG)

There is n

[2021-06-26 14:07] syjer commented on #731
hi @allabhanuprakashreddy , I think you opened the issue in the wrong project, this is the *java* version :).

It seems you are using c#, so it's most likely here: https://github.com/vilppu/OpenHtmlToPdf

[2021-06-27 04:57] #731 closed, assigned to nobody

[2021-06-27 05:33] #729 closed, assigned to nobody

[2021-06-27 05:37] danfickle commented on #726
132 seconds is extremely slow! Did you manage to solve this?

[2021-06-27 06:34] danfickle commented on #705
OK, assumed solved. Re-open as needed.

[2021-06-27 06:34] #705 closed, assigned to nobody

[2021-06-27 07:29] danfickle commented on #728
Hi @benjaminpochat,

I was able to reduce your test down to:
[code]

It turns out this is the result of `display: block` content inside `display: inline` content. What is happening is that the `page` property (which inherits) is only implemented on block boxes. In my example "Some text." goes on the first page (as it is inline and does not implement the page property), then it sees that the `div`

[2021-06-27 07:31] danfickle commented on #730
Do you need repeating headers/footers. Could you just remove the top/bottom page margin and put your content in normal flow?

As to changing, I suppose we could introduce a custom property on whether a box is actually screen reader relevant content.

[2021-06-27 09:00] danfickle commented on #676
Hi @dweil,

Probably no hope. It seems even the browsers don't support all of SVG 2 and Batik definitely does not. Perhaps, depending on the SVG 2 features used, you could register a DOM manipulator and change them to SVG 1.1?

[2021-06-28 05:22] mgm-rwagner commented on #730
I need the repeating feature.

I saw in the code that the header and footer elements are in a different structure, so for me it is not that easy to find the place where i need to change the functionality to achive my target.

Is it possible that you can give me a small hint, what i need to change in my fork to tag the header/footer elments?

[2021-06-28 20:31] urkl commented on #103
Same here

[2021-06-28 20:45] urkl commented on #103
Did somebody resolved this issue?

[2021-06-30 05:31] fcorneli opened #732 "NoSuchElementException"
On one of our templates, we could trigger the following exception:
[code]

[2021-06-30 10:15] fcorneli commented on #732
If I do something quick-and-dirty like:
[code]
it no longer fails of course, but I don't see my page footer anymore.

[2021-06-30 13:59] benjaminpochat commented on #728
Thank you @danfickle for your quick answer.
My problem is fixed.
Thank you also for all this work on OpenHtmlToPdf which is very convenient to produce clean PDF docs easily.

[2021-06-30 13:59] #728 closed, assigned to nobody

[2021-07-05 10:44] mgm-rwagner commented on #730
I need to tag the headers and footers in a important project. Is there no possibillity to do that.

It is no problem for me to change the libary code in a fork, but I need a starting point for that.

[2021-07-07 14:41] danfickle commented on #730
I've created a sample branch with tagging of page margin content. See this commit:
https://github.com/danfickle/openhtmltopdf/commit/a068c4034fdcba92b99f740dc39f7c7e37ac590e

Basically, I had to extend tagging support to the `SimplePainter` (copied from `DisplayListPainter`). Then I stored the page headers/footers in different lists and when `endPage` is run add/prepend them into the body content.

[2021-07-07 21:17] wmattei opened #733 "Dynamically sized page margin content"
If i have na element defined as `running` at the top of the page, and the content of this element is bigger than the page margin i get result where the header overflows the body.

Of course i could just increase the margin, but in my case, the header will be dynamic, and there is no way to know how big it can be..

## Screenshot
### Page 1
![image](https://user-images.githubusercontent.com/3472780

[2021-07-08 05:01] danfickle commented on #733
Dynamically sized repeating page content needs  `float: top` and `float: bottom`, neither of which we currently support. The good news is that I'm implementing footnotes in #711 which is giving me a good understanding of the issues around `float:bottom` so I may eventually implement them.

[2021-07-08 06:46] #732 closed, assigned to nobody

[2021-07-08 06:49] danfickle commented on #732
Hi @fcorneli,

It turns out that the layout for table boxes was not aware of stacking context layers or block formatting contexts (both required for `position: absolute`). I have now fixed. In the meantime, you can use a surrounding div with the `position: absolute` style rather than putting that style directly on the table.

Thanks for reporting.

[2021-07-08 07:09] mgm-rwagner commented on #730
I have tried your code in my project and it works. Now i have only three problems:

1. ![grafik](https://user-images.githubusercontent.com/75724274/124876806-b780ee00-dfca-11eb-9e1f-af7ed43d050a.png)
My elements in the header and footer are position absolute, thats why it shows the div wrapper structure as empty and the header: "asdsadasd" as extra element in the screen reader. This is not a big p

[2021-07-08 14:07] wmattei commented on #733
I understand @danfickle.
Should i keep this issue open?

[2021-07-09 07:10] PanithanK opened #734 "Why i can't verify conformance succesfully"
Hi guys
![code](https://user-images.githubusercontent.com/17002393/125036788-964cfa00-e0bd-11eb-9aa4-03219d78dd5a.PNG)
1. I use this code to genernate pdf.
2. I open pdf file with Adobe Acrobat Pro DC.
3. I click on Verifify Conformance and the result is failed.
4. I click on Open Preflight and let them analyze my file.
There are 2 error display and the problem is i don't understand them anyway.
!

[2021-07-09 17:55] chubbard commented on #551
I'm struggling with PDF generation where it goes out of control and eventually locks things up using this:

    .page {
       page-break-after: always;
    }

Would that be the same culprit as `avoid` setting?  Any news on a fix?  I'm using v1.0.9

[2021-07-12 04:51] danfickle commented on #551
Hi @chubbard,

I recently refactored the page-break related code. However, it is not released and is part of the footnotes work in #711. You could try building and using that branch to see if it fixes your issue.

[2021-07-12 04:52] danfickle commented on #551
P.S. There was an n squared algorithm in `BlockBoxing` that I replaced with the use of a `TreeMap`.

[2021-07-12 05:46] #707 closed, assigned to nobody

[2021-07-12 06:22] danfickle commented on #734
Hi @PanithanK,

Could you confirm you have title, subject, author, description and lang in your document as demonstrated by the following sample?

[code]

[2021-07-12 06:24] danfickle commented on #733
Thanks @wmattei,

I have renamed issue so you can leave it open.

[2021-07-12 07:44] immanewel opened #735 "IMAGE fail to display in the converted PDF"
I am having trouble creating a document with an image,  I have gone through the conde sandbox at https://sandbox.openhtmltopdf.com/ and noticed that the image needs to be prefixed with a keyword image:

 **&lt; img src="image:qr.png" alt="Visiting aliens (friendly)" /&gt;**
but it has not worked for me.
I got a warning **com.openhtmltopdf.exception WARNING:: Bad URL given: image:qr.png**.

I also

[2021-07-12 09:25] syjer commented on #551
hi @danfickle , I've tried the `issue-551-page-break-inside-avoid.txt` file with the current `issue_364_footnotes` branch, but it currently still trigger the issue (waited more than 2 minutes, still not finished).

[2021-07-15 08:31] PanithanK commented on #734
Hi @danfickle thank you for your feedback
I add your code above and generate pdf again. but I still can't verify comformance
![Capture3](https://user-images.githubusercontent.com/17002393/125755912-91d086a4-3bed-4de8-b709-2d75494ae80c.PNG)
![Capture1](https://user-images.githubusercontent.com/17002393/125755927-fcd28832-57b9-49e6-a01a-e4ac93bc606b.PNG)
![Capture2](https://user-images.githubusercon

[2021-07-15 10:54] sophon-aniketos commented on #724
Update to this issue: The issue mentioned in the first post is actually caused by another bug (I didn't notice I duplicated some parts of the file). After fixing that, the warning seems to be just warning without visible problem.

[2021-07-16 05:04] mgabhishek06kodur opened #736 "In line font color not printing specified color code,"
I'm tried to print font with color it is not printing specified font color, in inline style

import org.jsoup.Jsoup;
import org.jsoup.helper.W3CDom;
import org.w3c.dom.Document;
import com.lmats.oms.reports.pdfreports.PdfReportUtils;
import com.lmats.oms.reports.pdfreports.ReportPage;
import com.openhtmltopdf.pdfboxout.PdfRendererBuilder;

	private static String htmlToPdf(String inputHTML, String

[2021-07-16 05:51] mgabhishek06kodur commented on #736
[file:///C:/apps/lmats_tmp/filesDump/generalSection5-16-07-2021-10-03-42AM.htm](url)

[2021-07-16 08:10] danfickle commented on #735
Hi @Emma-Jay,

In the sandbox the `image:` protocol is a specially registered stream handler. It is not a standard URL protocol and won't work generally (I must add a comment about this in the sandbox example). However, you should be able to use other protocols such as `file:`, `http:` and `data:` in your own projects. If a particular image is not working, please try a few others to see if that pa

[2021-07-16 08:14] danfickle commented on #736
Could you post the HTML in question? It should look something like:

[code]

[2021-07-16 08:31] mgabhishek06kodur commented on #736
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>GENTest - Test observations and results</title>
  <style type="text/css" media="print">

* {margin:10; padding:0; outline:2px dashed blue}
body {font-size:12px;font-family:'Calibri'; margin:25px; background:#fff; color:#091f30}
.testObservationsAndResults {font-size:12px;text-align:justify}
.testComments

[2021-07-16 08:33] mgabhishek06kodur commented on #736
<font color="#e7d6de" style="background-color: rgb(165, 198, 206);">All ecommerce businesses know that returns are an inevitability. Approximately 30% of products bought online get returned. That?s as compared to less than 10% bought in-store. Handling returned items and dealing with the customers who sent them back is vital to order management. With the right OMS, reverse logistics becomes much m

[2021-07-16 08:37] mgabhishek06kodur commented on #736
<p class="" style="box-sizing: inherit; margin-bottom: 1.5em;"><span style="font-size: 14px;"><span style="background-color: rgb(255, 255, 255);"><font color="#0000ff">The placement and handling of orders impact many other elements of your business. Every order placed and fulfilled, for instance, affects your inventory.</font></span> Getting&nbsp;</span><a href="https://www.brightpearl.com/invento

[2021-07-16 08:43] mgabhishek06kodur commented on #736
[samplehtmltext.txt](https://github.com/danfickle/openhtmltopdf/files/6829200/samplehtmltext.txt)

[2021-07-16 10:57] immanewel commented on #735
@danfickle,
thank you so much for the clarification it works fine now.

[2021-07-16 10:57] #735 closed, assigned to nobody

[2021-07-17 05:29] danfickle commented on #736
Hi @mgabhishek06kodur,

We don't support the attributes on the ancient `font` tag. However, if you can't use CSS instead in your template, you can use a DOM mutator to change the document at runtime. Here is one I just created:

[code]

Then, you can register with:
[code]

P.S. To paste code or HTML in comments, put it in a code block. A code block starts with four backticks on their own line, fol

[2021-07-17 05:55] danfickle commented on #734
It seems to be saying there is a problem with the XMP metadata. However, I have tested with PDFBOX preflight validator, VeraPDF validator and [this online XMP validator](https://www.pdflib.com/pdf-knowledge-base/xmp/free-xmp-validator/) and they all pass.

Could you perhaps try to validate with that online validator and see what is says?

P.S. I have noticed that if you have a PDF document open in

[2021-07-19 23:23] MichelFortes opened #737 "Empty Tags"
Hello.

Some HTML empty tags (like <br> and <img>) are causing XRRuntimeException.
Is there a way to avoid that error? Maybe some configuration.
Thank you, guys.

[2021-07-21 08:56] mgm-rwagner commented on #730
Is it possible to fix these three issues? If you dont have any suggestions, I need to build it by my self, but I have currently no idea where I need to start.

[2021-07-26 10:04] danfickle commented on #737
By default this library requires valid XML, which means end tags or self closing tags are required. If you can't satisfy that constraint you can use Jsoup to parse HTML5. See the [integration guide](https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#html5-parser-support).

[2021-07-26 11:13] AndreasJacobsen opened #738 "Support for element grouping"
I am generating a very long pdf (100+ pages) and I want to group elements in this pdf using standard PDF grouping tags.

These are _Part, Art, Sect, Div_

See [pdfa.org](https://www.pdfa.org/wp-content/until2016_uploads/2015/12/StructureElementsBestPracticeGuide_2016-01-19.pdf) for more information.

I tried searching for any documentation on how to use standard PDF tags but found none, so I tried

[2021-07-29 09:40] JPizarro14 opened #739 "Can't see images from html file on the pdf"
Hi all!
I'm using openhtmltopdf to generate a pdf from an html file.
The point is that I can't see the images on the pdf.

Here is my resources folder:
![image](https://user-images.githubusercontent.com/36504551/127469340-c07730f7-0cbc-40ae-a804-72dcc7918aea.png)

And here is the html code:
Example with src path:
[code]

Example with image as B64 string:
[code]

I see the logo properly on the html

[2021-07-30 07:15] xiaoxiaoleng commented on #103
same here

[2021-07-31 11:15] danfickle commented on #739
Hi @JPizarro14,

Could you try with the below code (modify paths as needed)/html/image and see if it works?

I'm using this code on Windows 10 with success:

[code]

[code]

And this image:
https://commons.wikimedia.org/wiki/File:Example.png

[2021-07-31 11:46] #738 closed, assigned to nobody

[2021-07-31 11:49] danfickle commented on #738
Hi @AndreasJacobsen,

I've just added support for art, part, sect, section (alias for sect), caption and blockquote tags in 7ab966e. You can use art currently with `<article>` and you may be able to use sect with `position: relative` CSS as it uses sect for out-of-flow content.

[2021-08-02 13:48] MichelFortes commented on #737
The integration guide makes it all clear indeed.
I should have read it before asking for help. Sorry for that.
Thank you!

[2021-08-02 13:48] #737 closed, assigned to nobody

[2021-08-03 20:43] drewskiii opened #740 "RTL direction doesn't apply to bullet points"
[code]

Applying dir="rtl" does not produce a rtl approach when handling bulleted items as well as in tables.
Result:
![bullets](https://user-images.githubusercontent.com/37973467/128083543-9bac771a-e485-43e2-aff0-ec4eb4d3ad8b.PNG)

Expected result would be something like this:
![expected_bullets](https://user-images.githubusercontent.com/37973467/128083826-224d285d-75c1-4a28-b8c7-502e6bdea8b6.PNG

[2021-08-05 09:46] AndreasJacobsen commented on #738
I'll make a pull request for the wiki once I have tested this, thanks danfickle!

My Java skills are sadly pretty much non-existent so I'll wait till this is merged to main and I can update my maven packages to test and document.

[2021-08-05 18:22] rider87 opened #741 "Charts in PDF / e.g. Charts from Primefaces"
Hi all,

I tried that, but it´s not working.
I´m trying to render charts from Primefaces:

E.g. http://www.primefaces.org:8080/showcase/ui/chartjs/bar/bar.xhtml

In HTML content it´s generating:
`<canvas id="j_idt173:2:j_idt509_canvas" style="width: 1256px; height: 1256px; display: block;" width="1256" height="1256" class="chartjs-render-monitor"/>`

Is this possible? Do I need to enable something

[2021-08-08 11:51] syjer commented on #741
hi @rider87 , openhtmltopdf is not a web browser, it will not run javascript (and thus not understand the canvas element), you need to provide some custom made html.

So it's not possible to throw some canvas related code.

Alternatives:
 - use: https://github.com/danfickle/openhtmltopdf/wiki/Plugins:-JFreeChart
 - generate the charts as svg and enable the svg support: https://github.com/danfickle

[2021-08-08 15:21] 429748372 opened #742 "Can not set div as header when the HTML print have more than one page."
we  want to set a div as a  header when we generate pdf.
but, the div can not be see in the new page when the table data have more data.
example
[code]
I have the the table  -fs-table-paginate: paginate; -fs-page-break-min-height: 160px;

[2021-08-09 05:14] danfickle commented on #742
Hi @429748372,

Table headers should be in a `thead` element, something like:

[code]

[2021-08-11 09:37] JPizarro14 commented on #739
Hi Dan!

I've solved the issue. The problem was that the resources target with all the images wasn't located on target folder. I've modified the pom.xml file and it works correctly.

Thank you very much for your response.

[2021-08-11 09:37] #739 closed, assigned to nobody

[2021-08-11 09:46] JPizarro14 opened #743 "Strange text on pdf when a builder.useFont is used"
Hi all!

I'm creating a pdf with a custom font but I see the texts like this:
![image](https://user-images.githubusercontent.com/36504551/129007437-fa8d2232-4155-40ed-a728-a17e4b63f145.png)

Also, some characters like € appears like #.

Do you know why is this happening?

This is the java code:
[code]

Do you know why is this happening?

Thank you so much
Best regards

[2021-08-13 12:26] AndreasJacobsen commented on #738
Any idea when this will be available on Maven @danfickle? I don't want you to rush it, I just need to do some planning :)

[2021-08-15 19:44] kareem-abdul opened #744 "Border not working on <tr>/<thead> tag as expected"
Hi,
the border style does not seem to work on tr / thead tag of a table. Attaching the HTML below.
[code]

The above code gives the following output on chrome
![image](https://user-images.githubusercontent.com/67004443/129490244-813cb9f6-3bef-484e-ac91-4c2614bbf31c.png)

but gives the following on the generated pdf
![image](https://user-images.githubusercontent.com/67004443/129490223-97f7c86a-cc7d

[2021-08-16 05:16] seanox opened #745 "Problems with CSS position: relative in combination with -fs-table-paginate: paginate, since version 1.0.5"
### Environment:
- Java 11 and 16
- OS Windows
- OpenHtmlToPdf version 1.0.5 - 1.0.9
- used markup: page features example (annotated example https://github.com/danfickle/openhtmltopdf/wiki/Page-features)

### Java Code:
[code]

### Problems
Please add the following examples to the style:

[code]
[code]
---
[code]
Loses the initial header on page 13.

---
[code]
Loses the continued header and foote

[2021-08-16 05:51] seanox commented on #745
Conditional Workaround:

[code]

[2021-08-16 13:41] rossnewby opened #746 "'Greater/Less-than or equal to' Character Entities Not Printing"
Using both the 'greater-than or equal to' and 'less-than or equal to' entity result in a '#' printed in the PDF. This is the case with both the character entities eg `& ge;` and HTML codes eg `& #8805;`

I am correctly using the special project doctype (https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#character-entities), as other character entities such as the degree sign `& deg;

[2021-08-16 19:59] syjer commented on #746
hi @rossnewby , generally if you get a '#' symbol, it mean the current font does not support the character. Have you tried another font?

[2021-08-17 07:17] onkarnaik36 opened #747 "Table border and table full width issue"
We have a pdf page where the data for table content gets created from HTML editor and trying to print using openhtmltopdf library. But the borders are not appearing
![html table openhtmltopdf](https://user-images.githubusercontent.com/16891885/129679174-7d41fa7a-1e23-4704-afcf-abab2807f1e3.PNG)

[2021-08-18 09:02] duklin commented on #623
Can you please give an update on this issue?

[2021-08-19 15:34] deepzeafish opened #748 "SAX XMLReader error: The entity "ouml" was referenced, but not declared."
I have lots of German umlauts in my html file like this:

`<p>Zw&ouml;lf Boxk&auml;mpfer</p>`

Trying to convert that file to PDF like mentioned here: https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#minimal-usage leads to an error: `The entity "ouml" was referenced, but not declared.`

Using the doctype clause mentioned here: https://github.com/danfickle/openhtmltopdf/wiki/Integr

[2021-08-23 15:02] syjer commented on #748
hi @deepzeafish , frankly, the simplest way is to use a html5 parser: https://github.com/danfickle/openhtmltopdf/wiki/Integration-Guide#html5-parser-support .

It will do the entity conversion for you without fiddling with DTD & co :)

[2021-08-24 13:30] nukul4r opened #750 "SVG images not supported as background via CSS"
In our project, we are using `PdfRendererBuilder.withW3cDocument` to convert a HTML document to PDF. In this input, we use CSS to define a background image:
[code]

When the PDF is rendered, we get the following stacktrace:

[code]

When we add the SVG directly to the HTML (with `<img src="classpath:static/public/img/logo.svg"></img>`), the image is rendered correctly. To make this work, we add th

[2021-08-24 14:13] duklin commented on #623
The problem are the bullets on the unordered list, adding `list-style-type: none` in CSS for the list element will fix the reading order

[2021-08-25 11:14] mrtauern opened #751 "I have followed your guide for MINIMAL USAGE, and I get this error."
![Capture](https://user-images.githubusercontent.com/36842006/130780955-9530f8e9-093e-41a6-871c-b74245318807.PNG)

[2021-08-26 08:50] syjer commented on #751
hi @mrtauern, most likely your pom.xml is not correct as you are missing the dependencies.

Ensure that you have:

[code]
And the changes have been applied by Intellij Idea (which may not be automatic).

Your "External library" section should contains something like that:

![Screenshot from 2021-08-26 10-50-20](https://user-images.githubusercontent.com/498146/130932602-fac0315b-71f6-4772-80bf-b12b

[2021-08-30 13:00] gandboy91 opened #752 "table borders: single border display bug with border-collapse: collapse"
When some cell borders are hidden (as 2, 3 and 4 cells in example)
There's buggy behavior of table borders in generated pdf.
It's usually ok with default 100% zoom level.
But if it's zoomed in or zoomed out, some borders looks very unstable (cell 3 in example)
Depending on zoom level it can be thinner or thicker than other borders.

example is created with openhtmltopdf sandbox.
html

![image](htt

[2021-08-31 14:02] mssaravanan commented on #103
Same here, After building as jar file the image not loading.

[2021-09-01 02:20] mssaravanan commented on #103
Same issue here.

[2021-09-01 03:54] mssaravanan opened #753 "Images are missing after build as jar"
**Code:**
`<div class="logo-container">
							<img src="https://www.xxxyyy.com/images/logo.png" alt="CompanyName"/>
						</div>`

**Error:**
com.openhtmltopdf.exception WARNING:: IO problem for https://www.xxxyyy.com/images/logo.png

[2021-09-03 03:40] joelk111 commented on #753
same issue here.

[2021-09-03 12:55] rkhlin commented on #524
Hi there,

I was using the Flying Saucer library before and it all went ok until I upgrade my Spring framework to v5 so that I have to look for a newer library to generate PDF with Chinese in it.

I had read quite a few posts and tried many ways, but still seeing ###. Not sure what is going on.
Please help.

My css file:
@CHARSET "UTF-8";
@font-face {
    font-family: "Arial Unicode MS";
    src:

[2021-09-04 16:08] rkhlin commented on #174
Hi there,

I was using the Flying Saucer library before and it all went ok until I upgrade my Spring framework to v5 so that I have to look for a newer library to generate PDF with Chinese in it.

I had read quite a few posts and tried many ways, but still seeing ###. Not sure what is going on.
Please help.

My css file:
@CHARSET "UTF-8";
@font-face {
    font-family: "Arial Unicode MS";
    src:

[2021-09-04 16:11] rkhlin opened #754 "Another Chinese character issue"
Hi there,

I was using the Flying Saucer library before and it all went ok until I upgrade my Spring framework to v5 so that I have to look for a newer library to generate PDF with Chinese in it.

I had read quite a few posts and tried many ways, but still seeing ###. Not sure what is going on. Do I miss any step?
Please help.

My css file:
@CHARSET "UTF-8";
@font-face {
    font-family: "Arial Un

[2021-09-05 13:14] rototor commented on #754
In your Java example you are *not* registering a font with CJK characters.

You must register a font which contains the characters you want to display. Note: the builtin sans-serif does *not* support anything outside of latin1.

"Arial Unicode MS" may contain the characters you need. But it depends on the  platform (i.e. what *exact* Windows version did you install, will not work on Linux, macOS o

[2021-09-06 13:05] #364 closed, assigned to nobody

[2021-09-06 13:05] #551 closed, assigned to nobody

[2021-09-06 13:37] syjer commented on #753
hi @mssaravanan do you have the full stracktrace?

It may be possible that you have some kind of proxy in between which is configured correctly when running from the IDE vs running outside as a jar.

[2021-09-06 15:54] rkhlin commented on #754
Thanks rototor,

I downloaded BabelStoneHan.ttf you suggested.
I develop in Win 10, deploy to Linux or FreeBSD.
Run with JDK8.

I tried:
            File font = new File("E:/Temp/BabelStoneHan.ttf");
            builder.useFont(font, "BabelStoneHan");

Also tried CSS approach:
@font-face {
    font-family: "BabelStoneHan";
    src: url('BabelStoneHan.ttf');
	-fs-pdf-font-embed: embed;
}
* {
  font

[2021-09-06 16:05] rototor commented on #754
The classpath should be fine. When trying the CSS approach, you must put the font into your classpath, i.e. if you use maven, it should be in src/main/resources/your/domain/and/package/BableStoneHan.ttf and you would reference it with

[code]

Please check that the maven build worked correctly, i.e. that the target/classes directory contains your/domain/and/package/BabelStoneHan.ttf

Of course, re

[2021-09-06 16:12] rkhlin commented on #754
When I use flying Sourcer I just put the ttf file in the same folder as the css file.
so in css I just put,
...
src: url('BabelStoneHan.ttf');
...

In openhtmptopdf not the case?
Should be the same right? Since it is CSS approach.

[2021-09-06 16:39] rkhlin commented on #754
I can even see it take the font in and use almost 16sec.

Really weird, I can't generate the PDF.

![nvt](https://user-images.githubusercontent.com/619188/132245563-1e91d82a-32c2-4034-888a-a0542ed900c7.jpg)

[2021-09-06 17:13] rototor commented on #754
No this is not the case, don't even think to use a browser to compare the output. OpenHTMLToPDF only can do a very small subset of what browsers do.  And it has changed many things from flyingsaucer. Quote from the README.md:

Without a reduced sample (i.e. make a small GitHub repository and put a compile and runnable example in) I can not really help you, as it works for me when putting the font

[2021-09-06 22:12] stephanebarbey commented on #310
We have provided a  minimal example for that behaviour in https://github.com/danfickle/openhtmltopdf/issues/752

[2021-09-07 11:18] danfickle commented on #752
I think I've found the culprit!

It turns out to be related to anti-aliasing. Specifically, the top and bottom borders for cell 3 are not anti-aliased while all others are. I think this is because all the other borders need to have a bevel (diagonal edge) (which we calculate explicitly) to meet with vertical lines.

You can see this in effect with the magnifier on your operating system. Alternativ

[2021-09-07 16:32] CVEDetect opened #756 "Dependency org.mozilla:rhino, leading to CWE problem"
Hi, In **openhtmltopdf**，there is a dependency **org.mozilla:rhino:1.7.7** that calls the risk method.

[CWE-611](https://cwe.mitre.org/data/definitions/611.html)

The scope of this CVE affected version is **[,1.7.12)**

After further analysis, in this project, the main Api called is **<org.mozilla.javascript.ContextFactory: boolean hasFeature(org.mozilla.javascript.Context,int)>**

Risk method re

[2021-09-07 16:32] CVEDetect commented on #756
@joaomarcusc
Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2021-09-07 16:59] rkhlin commented on #754
This is the only Java file:

package test;

import java.io.File;
import java.io.FileOutputStream;
import java.io.OutputStream;

import com.openhtmltopdf.pdfboxout.PdfRendererBuilder;

public class TestOpenHtml2Pdf {

	public static void main(String[] args) throws Exception {
        try (OutputStream os = new FileOutputStream("E:/Temp/out.pdf")) {
            PdfRendererBuilder builder = new PdfRe

[2021-09-08 05:03] vipcxj commented on #754
If you have used `builder.useFont` with the absolute path in the code, don't spec the url in css, use font name directly.
If you don't want to use a absolue path, use can provide a `FSSupplier` instance to the `useFont` api. Just like this
[code]

[2021-09-08 05:48] lingling7250 opened #757 "Prevent line break after comma / dot / special characters"
Hi,
Its work fine when tested in https://sandbox.openhtmltopdf.com/?file=page-features.htm
But, it doesn't work in my project.

Text example:
There are 10 apples which cost $150,000 and 20 pineapples which cost $288,888.

Expected result:
There are 10 apples which cost $150,000
and 20 pineapples which cost $288,888.

But the result what I get is:
There are 10 apples which cost $150,
000 and 20 pin

[2021-09-08 09:38] SrdjanBisanovic opened #758 "Source code of the Sandbox application"
Hi,

I was wondering if the source code of the backend application running behind https://sandbox.openhtmltopdf.com can be found anywhere. I went through the repository but could not find it.

I have an RTL HTML template from which I'm trying to generate a PDF. In my implementation, the resulting document does not have its elements reordered from right to left (I followed the steps described in ht

[2021-09-08 11:02] SrdjanBisanovic commented on #758
Found it: https://github.com/danfickle/openhtmltopdf-sandbox
Closing the issue.

[2021-09-08 11:02] #758 closed, assigned to nobody

[2021-09-09 02:27] LiYiyao9 opened #759 "Excess table column lines after page-break and pagination"
Hi, when I was trying with page-break and pagination the table didn't break off cleanly instead the table column borders are still shown.
<img width="197" alt="border issue" src="https://user-images.githubusercontent.com/40173003/132612083-4341455e-4c50-4fe0-8d12-495a7ae3ee1f.PNG">

Below would be the code from sandbox:
[code]

[2021-09-09 04:21] lingling7250 commented on #757
Tried your sample project https://prettyresume.openhtmltopdf.com/, also has same issue: Please note that no space after comma.
![image](https://user-images.githubusercontent.com/90304055/132621929-dc9b2c56-2fed-4d07-9b63-2a6499c30f05.png)

[2021-09-09 06:13] vipcxj commented on #757
try use
[code]
to style your money.
such as
[code]

[2021-09-09 06:20] lingling7250 commented on #757
@vipcxj  But my content is dynamic.

[2021-09-09 06:21] vipcxj commented on #757
surround all your money with `span`

[2021-09-09 06:54] piotrpatrzek opened #760 "problem w css transform rotate property"
Hi,
I have tables heder rotated using a style:

`.rotated-name {
    transform: rotate(-75deg);
}`.

When rotated, the table headlines are scattered. See the attachment.
I also attached an HTML that has been converted to PDF.
[TRACEABILITY_PDF2021-09-08T11_52_50.569.pdf](https://github.com/danfickle/openhtmltopdf/files/7134161/TRACEABILITY_PDF2021-09-08T11_52_50.569.pdf)
[traceability.html.zip](ht

[2021-09-09 09:39] PanithanK commented on #734
@danfickle  I'm so sorry for feed you back lately. I have try validate PDF with your online validator and the result is fine

![xmp](https://user-images.githubusercontent.com/17002393/132661066-729823e4-4cb2-4465-81bb-0482ab569477.PNG)

I have try closing closing Acrobat and did all as you suggest, but i can't verify conformance in adobe Adobe Acrobat Pro DC anyway.
Thank you

[2021-09-09 10:18] gandboy91 commented on #752
Thank you for your fix and explanation! 👍
Fixing it for one-colored same thickness lines seems enough  for most cases I guess :)

Will wait for next release!

[2021-09-09 12:52] rkhlin commented on #754
I tried many combinations. If the useFont absolute path approach is not giving me the result. Will FSSupplier giving me result?

[2021-09-10 05:26] GothicChris commented on #103
any further insights about this issue?

[2021-09-10 08:33] #756 closed, assigned to nobody

[2021-09-10 08:45] danfickle commented on #757
Line break options are provided by a line break iterator. By default, we use the Java standard library with US locale. We then wrap this in a custom iterator to prevent line breaks at slashes in URLs (this may be removed in a future version). The standard Java line breaker seems to vary by version.

Alternatively, you can plug in your own iterator, with this method on the builder:

[code]

The san

[2021-09-10 11:10] danfickle commented on #103
UPDATE:
I just realized we weren't outputting details of the exception associated with a log message. I have changed that and will do a release in the next couple of days (all going well). Hopefully, this will let us track down this mystery!

Earlier I wrote:
I couldn't reproduce. Is anyone able to detail the URL/environment they are using?

I tried this program, firstly on Windows, then on `ubunt

[2021-09-10 11:15] danfickle commented on #760
By default the `transform-origin` is in the middle of the box, so this is what it rotates around. You may also need a small `translateX`. Could you try something like this:

[code]

[2021-09-10 11:19] danfickle commented on #753
Hi @mssaravanan and @joelk111,

I've commented in #103.

[2021-09-10 11:23] danfickle commented on #744
Hi @kareem-abdul,

A bit late, but you can use a border on the descendant `td` or `th` elements.

This is a good bug write-up and ideally we'd support borders on `tr`, but given the workaround is simple, it's not a priority at the moment.

[2021-09-10 11:26] danfickle commented on #747
This is concerning, but which borders should be showing? It might be worth defining appropriate borders on cells (`td` and `th`) rather than `tr` but I'm just guessing.

[2021-09-10 11:28] danfickle commented on #714
Closing for now. Please re-open if required.

[2021-09-10 11:28] #714 closed, assigned to nobody

[2021-09-10 11:30] danfickle commented on #724
I'll close now as the content limit warning is covered in other issues. Thanks. Please re-open as required.

[2021-09-10 11:30] #724 closed, assigned to nobody

[2021-09-10 11:33] danfickle commented on #734
I'm not sure about this one. Anyone else got any ideas? Acrobat Pro is not very helpful here.

[2021-09-10 11:34] danfickle commented on #736
Assumed solved. Please reopen as required.

[2021-09-10 11:34] #736 closed, assigned to nobody

[2021-09-10 11:36] danfickle commented on #741
Thanks @syjer. Closing now as assumed solved. Please reopen as required.

[2021-09-10 11:36] #741 closed, assigned to nobody

[2021-09-10 11:39] danfickle commented on #759
Thanks @LiYiyao9,

This simple sample will make it easier to debug this issue.

[2021-09-10 11:41] danfickle commented on #751
Thanks again @syjer. Closing as assumed solved. Please reopen if required.

[2021-09-10 11:41] #751 closed, assigned to nobody

[2021-09-10 11:46] danfickle commented on #754
Hi @rkhlin,

I can't open your links. Perhaps try with local files to start with. If they work, we can narrow it down to a resource loading issue.

[2021-09-10 11:50] danfickle commented on #746
Note: You can get the [Stix math fonts here](https://github.com/danfickle/openhtmltopdf/issues/161#issuecomment-365844595).

Closing now. Please reopen if required.

[2021-09-10 11:50] #746 closed, assigned to nobody

[2021-09-10 11:59] danfickle commented on #696
Closing in favor of #759 where a minimal sample is provided. Thanks for reporting.

[2021-09-10 11:59] #696 closed, assigned to nobody

[2021-09-10 12:00] danfickle commented on #693
Closing as not within scope of this project. Please reopen if required.

[2021-09-10 12:00] #693 closed, assigned to nobody

[2021-09-10 12:01] danfickle commented on #691
Closing as answered. Please reopen if required.

[2021-09-10 12:01] #691 closed, assigned to nobody

[2021-09-10 12:04] danfickle commented on #686
Closing now. Please reopen if required.

[2021-09-10 12:04] #686 closed, assigned to nobody

[2021-09-10 12:07] danfickle commented on #677
Thanks @rototor. Closing now. Please reopen as required.

[2021-09-10 12:07] #677 closed, assigned to nobody

[2021-09-10 12:10] danfickle commented on #671
Closing now as could not reproduce. However, please reopen if required.

[2021-09-10 12:10] #671 closed, assigned to nobody

[2021-09-10 12:11] danfickle commented on #630
Closing now. Please reopen if required.

[2021-09-10 12:11] #630 closed, assigned to nobody

[2021-09-10 13:27] rkhlin commented on #754
HTML file:
<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>

</head>
<link rel="stylesheet" type="text/css" href="test.css" media="all" />
<body>
	<h1>每星期三<br/>
		Every Wednesday</h1>
</body>
</html>

[2021-09-10 13:28] rkhlin commented on #754
CSS file:
@CHARSET "UTF-8";
@font-face {
    font-family: "BabelStoneHan";
    src: url('BabelStoneHan.ttf');
	-fs-pdf-font-embed: embed;
}
* {
  font-family: "BabelStoneHan", "Arial Unicode MS",sans-serif;
}

[2021-09-10 13:29] rkhlin commented on #754
The link normally is working, but when I am doing debugging, I may restart the server.
I also created a Maven project and tried to test more, but still ###.

[2021-09-10 20:28] malindux commented on #103
Having the same issue, images are not showing at all in the final output.

[2021-09-10 20:39] malindux commented on #103
Could someone assist me with the following error

**com.openhtmltopdf.exception WARNING:: Bad URL given: /images/1.png**

In the final output I couldn't see the images are being displayed. Did several workarounds but couldn't find the exact issue
here.

[2021-09-11 03:50] rkhlin commented on #754
Hi Dan,

Here are the 3 files, fonts can be download from the place you suggested.

Since it is too large to email.

Appreciate your help.

BR,

Richard

From: danfickle ***@***.***>
Sent: Friday, 10 September 2021 9:47 PM
To: danfickle/openhtmltopdf ***@***.***>
Cc: rkhlin ***@***.***>; Mention ***@***.***>
Subject: Re: [danfickle/openhtmltopdf] Another Chinese character issue (#754)

Hi @rkhlin

[2021-09-11 11:18] malindux commented on #103
@danfickle could you please help me with above problem ?

[2021-09-12 04:38] #310 closed, assigned to nobody

[2021-09-12 04:38] #752 closed, assigned to nobody

[2021-09-12 04:48] danfickle commented on #169
I can no longer see white lines on the provided PDF in Chrome or Acrobat, so closing as I think this was a viewer issue.

[2021-09-12 04:48] #169 closed, assigned to nobody

[2021-09-12 05:19] #291 closed, assigned to nobody

[2021-09-12 05:44] danfickle commented on #103
If anyone wants to debug this before the next release, it would be a great help. You need to add this code before using the builder. This code will output details of the underlying exception:

[code]

@malindux, I think you have a separate issue. You are getting that message because your url has no scheme such as `http://` of `file:`, etc. Are you providing a base url to the builder with your html

[2021-09-12 06:11] malindux commented on #103
@danfickle Actually what I have is a resource folder with all the images in it and I'm using Free Marker Templates to produce PDFs. Using toExternalForm() actually solved my issues. Thank you for your support.

[2021-09-12 06:12] danfickle commented on #754
Hi @rkhlin,

I used this simple source code and got Chinese characters in the PDF:

[code]

Please try it and see if it works for you. You will have to change the paths in **two** places (to output PDF and font file). Here is the `pom.xml` I used for reference:
[code]

Note the `project.build.sourceEncoding` is set to `UTF-8` and your code editor should be set to save in `UTF-8` as well.

[2021-09-13 05:38] rkhlin commented on #754
Thanks, Dan,

I can get Chinese with your code. That is great.

So I start to tweak my code.

But when I start to use URL with CSS file, it seems not running.

If I do style=”…” in the element, it seems OK but then when using the style from CSS file the Chinese goes back to ###.

I have attached the files and  output here.

If you can take a look for me.

I am not sure I can mix use:

builder.useF